[2019-09-18 07:39] panchalsanket opened #3 "Getting blank Screen while playing video but audio is working"

[2019-09-18 10:43] chaimPaneth commented on #3
Hi @panchalsanket

How are you loading the player?

If you're using the loadPlaylistitem method you might need to call it with a timeout as it takes a few milliseconds that the player finishes mounting.

Try using the playlistItem prop or putting loadPlaylistitem call in a setTimeout.

See the updated readme.

Also make sure your player styles are correct so it has height to show the video screen.

[2019-09-25 11:36] codal-mpawar opened #5 "How can i use video with ads in multiple video list?"

[2019-09-26 13:18] panchalsanket commented on #5
Can you please send me your working code?

[2019-09-27 07:54] codal-mpawar commented on #5
i m done with this problem thank you

[2019-09-27 11:22] codal-mpawar commented on #5
have you known about this error?

Exception in thread "main" java.lang.IllegalStateException: Expected a load for F to set up parameter 9 for com/longtailvideo/jwplayer/core/b/b$$Lambda$0 but got -1
        at com.google.common.base.Preconditions.checkState(Preconditions.java:756)
        at com.google.devtools.build.android.desugar.LambdaDesugaring$InvokedynamicRewriter.attemptAllocationBeforeArg

[2019-09-30 06:08] panchalsanket commented on #5
No, I am getting Black screen

[2019-09-30 11:35] codal-mpawar commented on #5
@panchalsanket @chaimPaneth
hey,
have you known in JWPlayer autostart, repeat, desc all the props are not working in android and how can I manage in Flat list in multiple video pause and play at the same time?
so please solve this and comment to me as fast as possible.

[2019-10-01 06:00] codal-mpawar commented on #3
@panchalsanket @chaimPaneth   I have also the same issue first play audio and then after play video in a few seconds.

[2019-10-01 07:50] codal-mpawar commented on #5
@panchalsanket which document you follow?

[2019-10-01 07:52] codal-mpawar commented on #3
@panchalsanket I solve this issue send me your setup in android as well as ios.

[2019-10-01 11:25] codal-mpawar commented on #3
@panchalsanket
I follow this document https://github.com/chaimPaneth/react-native-jw-media-player
in android
other things follow the same as write steps.
android/build.gradle paste this item only
maven {
            url 'http://mvn.jwplayer.com/content/repositories/releases/'
        }
android/app/build.gradle
in ios is not a problem same as setup

[2019-10-02 09:48] chaimPaneth commented on #5
Hi @codal-mpawar, can you attach some of your code, also send me your gradle settings - you might need to play around with the versions of target compile build and support sdk's / libraries.

As for the play pause of multiple videos in a list I guess for now you will have to create a dynamic ref for each item based on it's index in the data map something like ref={p => this["player_" + index = p]}

[2019-10-03 03:50] codal-mpawar commented on #5
Hi @chaimPaneth
yes, I already do that but not working. also in iOS, multiple videos are not working on a single screen. so can you please solve this and let me know. I solve all the gradle stuff.

[2019-10-04 20:58] JoeVelliquette opened #6 "Higher Versions of React-Native"
Does this package work with react-native >= 0.60?

[2019-10-07 23:08] BeshoySarkis opened #7 "Android Fullscreen Bound to Parent Container"
When clicking on the fullscreen button, the app changes orientation but does not take over the display. It appears that the player goes into fullscreen of the container that it is in, rather than taking over the screen.

We invoke the player using
`const playlistItem = {
    file: 'sample.com',
    mediaId: 'sample',
    autostart: false
}`

                <JWPlayer
                    playlistIt

[2019-10-11 19:29] BeshoySarkis opened #8 "Audio Background Support"
Does this library support background playback for audio?

[2019-10-15 12:33] chaimPaneth commented on #8
Hi @BeshoySarkis

Yes this package supports Background audio sessions just follow the jwplayer docs for background session.

Here for iOS https://developer.jwplayer.com/sdk/ios/docs/developer-guide/embedding/features/ under Background Audio section.
Here for Android https://developer.jwplayer.com/sdk/android/docs/developer-guide/interaction/audio/ although this package handles background audio pla

[2019-10-15 13:50] chaimPaneth commented on #7
Hi @BeshoySarkis

As of now the package only notifies the js that a fullscreen style was requested by the user in the onFullScreen callback and you need to manage the state of the player so when so it changes the parent view bounds to full height & width when fullscreen equals true.

We will work on a native fullscreen solution in the future.

Thanks.

[2019-10-17 00:04] BeshoySarkis commented on #8
Thank you!

[2019-10-17 00:04] #8 closed

[2019-10-17 00:12] BeshoySarkis opened #9 "Multiple videos cause app crash on iOS"
When rendering multiple videos on a single page, the iOS app crashes.

Thread 1: EXC_BAD_ACCESS (code=1, address=0x222dfde48)

RN version: 0.59.4
JWPlayer: 3.7.0
react-native-jw-media-player: 0.1.12

[2019-10-17 00:12] BeshoySarkis commented on #7
Thanks!

[2019-10-17 00:12] #7 closed

[2019-10-24 20:31] chaimPaneth commented on #9
Hi @beshoySarkis

Can you please try the latest version 0.1.15 there is a fix in there that should fix the multiple instances crash.

[2019-10-24 20:33] chaimPaneth commented on #5
Hi @codal-mpawar

Can you please try the latest version 0.1.15 there is a fix in there that should fix the multiple instances crash.

[2019-10-29 09:31] BeshoySarkis commented on #9
Thank you

[2019-11-07 13:20] KestasVenslauskas commented on #6
Having trouble running this on react-native >= 0.60....
@JoeVelliquette Did you manage to make it work?

[2019-11-07 14:01] KestasVenslauskas opened #16 "Android not able to build"
Gettings errors for android:
ERROR: Failed to resolve: com.longtailvideo.jwplayer:jwplayer-core:+
ERROR: Failed to resolve: com.longtailvideo.jwplayer:jwplayer-common:+

I added:
        maven {
            url 'https://mvn.jwplayer.com/content/repositories/releases/'
        }

In projects .gradle file. Still nothing. How to fix this?

[2019-11-07 14:13] KestasVenslauskas commented on #16
Nevermind...
I added maven url to the wrong block...

[2019-11-07 14:13] #16 closed

[2019-11-08 09:36] KestasVenslauskas opened #17 "Video keeps playing when navigated back with react-navigation"
Platform: Android

When user navigates back from video screen. It keeps playing in background. Also when another video opens during that time app crashes. I also tried unmounting view video is still playing...

[2019-11-19 12:44] tkayage commented on #17
I was able to hack by overriding the onDropViewInstance method, then stopping the video:

 @Override
    public void onDropViewInstance(@Nonnull RNJWPlayerView view) {
        super.onDropViewInstance(view);
        mPlayerView.stop();
    }

[2019-11-24 15:45] zikwall opened #18 "Ad support"
Please tell me if there is support for video ads? If so, can you show some code examples?

[2019-11-24 18:48] chaimPaneth commented on #6
Hi @JoeVelliquette & @KestasVenslauskas
I've updated the library and the latest versions are compatible with react-native >= 0.60

[2019-11-26 18:29] howlCode commented on #6
Are the instructions for installation still the same? Is the package now automatically linked? I cannot get this to work.

[2019-11-27 14:34] bsmith-ine opened #19 "Build input file cannot be found."
Build input file cannot be found: '../node_modules/react-native-jw-media-player/ios/CustomJWPlaylistItem.m'

This file is not currently in this repo, however, when I checkout the forks on this repo, it is present. Why was this file removed?

[2019-11-27 18:19] chaimPaneth commented on #17
Thanks @tkayage for the suggestion the latest version implements this and ios is handles too.

[2019-11-27 18:21] chaimPaneth commented on #6
@howlCode  it is automatically linked I will update the readme soon enough.
What is the error you're getting?

[2019-11-27 18:23] chaimPaneth commented on #19
@bsmith-ine

This file is no longer used so it was deleted, if you erase the library from node_modules and npm i again you won't have this error as it will not be installed or referenced.

[2019-11-27 18:35] howlCode commented on #6
@chaimPaneth Awesome, thanks for the update! Unfortunately, it still isn't working for me but I did finally get the package to mount in the view. I had to take the following steps FYI:
in android/build.gradle I had to add the following to repositories:
`        maven {
            url 'http://mvn.jwplayer.com/content/repositories/releases/'
        }
`

...and in android/app/build.gradle I had to

[2019-11-27 18:48] BeshoySarkis commented on #9
I don't believe this library still supports playing multiple instances on a single page. There seems to be some clobbering of the instance of the player when multiple instances start up and player.stop() does not stop the first video which was rendered because it has a different reference than when it was started.

[2019-11-29 12:21] zikwall opened #20 "Android demo not working"
Hi.
When I run the example on the Android, I get the following error:

[code]

He also complains about `sdk.dir=/path/to/AndroidSDK`. the latter is solved by adding a file local.properties:

[code]

[2019-12-04 22:07] BeshoySarkis commented on #9
This has been fixed in 0.1.22, resolving

[2019-12-04 22:07] #9 closed

[2019-12-06 01:41] BeshoySarkis opened #21 "aar artifact file outdated"
When installing the library, the android aar files generated is outdated and references old code.

Version 0.1.23

[2019-12-06 12:04] chaimPaneth commented on #18
@zikwall I haven't implemented the necessary callbacks for ad support perhaps this week I'll have time for that.

Thanks

[2019-12-06 12:05] #17 closed

[2019-12-06 12:07] #19 closed

[2019-12-12 12:57] KestasVenslauskas commented on #17
@chaimPaneth Latest version still doest not contain this fix

[2019-12-17 21:19] #6 closed

[2019-12-17 21:20] #5 closed

[2019-12-17 21:21] #3 closed

[2019-12-26 23:06] j0x0j commented on #18
Hey @chaimPaneth I'm willing to help out on this.

[2020-01-09 00:42] msuresh1993 opened #24 "[IOS]background audio controls last video on page instead of video being played"
We are using background audio on a page which has multiple videos.
When we play a video, we are able to see the background audio control in the notification center(NC) but when we click pause from the NC, it controls the last video on the page(not the video being played).

[2020-01-15 10:36] ybbond commented on #18
I am eager to see this feature as well.

I have implemented the IMA ads for iOS,

but somehow, following the JWPlayer official docs, it is hard to make ads run on Android

[2020-01-29 16:12] bittu1028 opened #28 "Cannot build in ios"
Build input file cannot be found: '../node_modules/react-native-jw-media-player/ios/CustomJWPlaylistItem.m'

[2020-02-03 08:05] KestasVenslauskas opened #29 "Crash on android 9-10"
From crashlytics. Latest version 2020-02-02

[code]

[2020-02-04 14:34] cmcaboy commented on #28
It looks like the older version of the library used these files. I'm guessing we will need to put these files back in or cleanup the build process to not be dependent on said files.

![image](https://user-images.githubusercontent.com/1489169/73753883-631c7380-4731-11ea-865c-90109e8bd5a9.png)

CustomJWPlayerListItem.h
[code]

CustomJWPlaylistItem.m
[code]

[2020-02-04 17:03] chaimPaneth commented on #29
@KestasVenslauskas

Hi, seems as though the service wasn't registered, did you follow the instructions in the readme specifically adding this to AndroidManifest.xml?

[code]

[2020-02-04 17:05] chaimPaneth commented on #28
@bittu1028

What version of the library did you install? as @cmcaboy has replied above those files were removed in the later versions.

Try deleting the library from node_modules and reinstalling the latest version.

[2020-02-04 17:49] KestasVenslauskas commented on #29
I did, service works fine, I can reproduce it 4 out of 10 times on my
android 10 device. But its happening on many Android versions. I start the
player then notification shows up and I minimize the app. Boom crash, but
sometimes if works.

On Tue, Feb 4, 2020, 7:03 PM chaimpan <notifications@github.com> wrote:

[2020-02-05 08:05] KestasVenslauskas commented on #29
@chaimPaneth some statistics:
Daily active users 5.7K
Crashes 321
Users affected 231

[2020-02-05 09:11] ybbond opened #30 "Custom style must be remote, cannot use local css file"
## Detail

I tried adding css file on the android `assets` folder, but it has no effect. I see the implementation is looking up to the `String.format(file:///android_asset/%s.css, name)`. To no effect.

## Further Research

I did some research and it said that JWPlayer has no support for local css file,

[1] https://jwplayer-support-archive.netlify.com/questions/17033726-player-config-cssskin-loca

[2020-02-05 10:57] KestasVenslauskas opened #31 "Chromecast support"
Is there plans for Chromecast support on android?

[2020-02-06 23:44] egarrett94 opened #32 "Exposing the `stereomode` configuration for playlist items"
Hey there! It looks like [`playlist.stereomode`](https://developer.jwplayer.com/jwplayer/docs/jw8-player-configuration-reference#section-360-videos) isn't included in the playlist/playlist item props so that one can "look around" whilst viewing a 360 video.

Please, could this support be added for this?

[2020-02-07 09:51] faisalansari97 opened #33 "error: Build input file cannot be found"
Hii, I am not able to run my project in xcode.

error: Build input file cannot be found: '/Users/user/WorkSpace/git/slp/node_modules/react-native-jw-media-player/ios/CustomJWPlaylistItem.m' (in target 'RNJWPlayer' from project 'RNJWPlayer')

Seems like CustomJWPlaylistItem.m file is missing. I have tried to run pod install. Link and relink the library multiple times but it didn't work.

Project de

[2020-02-10 15:36] PhamMinhKha opened #34 "Get error 102630 with source video from youtube"
I get youtube link download from youtube
I have checked the path in my browser and it works
Link be like
`https://r3---sn-42u-i2i6.googlevideo.com/videoplayback?expire=1581370303&ei=X3dBXsOBA4mR4AL7kqnIBA&ip=150.95.114.172&id=o-AB4f5tYq_JBvnsi6hIUva2jS1sYN6S00h9Lz35NgPf7J&itag=18&source=youtube&requiressl=yes&mm=31%2C29&mn=sn-42u-i2i6%2Csn-42u-nbo6&ms=au%2Crdu&mv=u&mvi=2&pl=21&vprv=1&mime=video%2F

[2020-02-12 02:58] cmcaboy commented on #28
@chaimPaneth This is still very much an issue. I tried the following and still ran into the build error.

1. unlinked the old version
2. upgraded the library
3. blew away node_modules
4. ran yarn install
5. blew away and recreated pods
6. refreshed the cache
7. blew away the ios build directory

After doing all of these, I still receive the error.

![image](https://user-images.githubusercontent.co

[2020-02-12 03:16] cmcaboy commented on #28
You need to remove "CustomJWPlayListItem.m" from Compile Sources. It will then compile. I'll prepare a PR.

![image](https://user-images.githubusercontent.com/1489169/74299896-10881c00-4d1c-11ea-8ad4-0a57a7dd1d2d.png)

[2020-02-12 03:23] cmcaboy commented on #28
I submitted #35 to fix this.

[2020-02-12 03:23] cmcaboy commented on #33
I submitted #35 to fix this.

[2020-02-18 04:40] poison8 opened #36 "android jwplayer not displayed"
import React, { Component } from 'react';
import {
  StyleSheet,
  View,
} from 'react-native';
import JWPlayer from 'react-native-jw-media-player';

const styles = StyleSheet.create({
  container: {
    flex: 1,

  },
  player: {
    width:"100%",
    height:250
  },
});

export default class App extends Component {
  componentDidMount(){
  console.log(JWPlayer);
  }

  onBeforePlay() { // eslint

[2020-02-19 13:23] shelomo commented on #34
JW does not support Youtube files

[2020-02-24 16:58] #28 closed

[2020-02-24 17:02] chaimPaneth commented on #33
Merged in version 0.1.34

[2020-02-24 17:02] #33 closed

[2020-02-24 17:16] chaimPaneth commented on #30
Hi @ybbond

We are using local css files in many projects and it is working fine, are you sure you have followed the instructions correctly as follows:

1. Drag css file in to app/src/main/assets folder.
2. The theme name should match the file name e.g for a file named video.css your css class definition should be as so
[code]
Basically follow the following structure .jwplayer.jw-skin-{filename}

[2020-02-24 17:28] chaimPaneth commented on #29
Hi @KestasVenslauskas

The issue your having might be related this:
https://stackoverflow.com/questions/44425584/context-startforegroundservice-did-not-then-call-service-startforeground

It's a known issue with foreground service,
Is this the crash you're getting?

[2020-03-01 15:17] wahiche commented on #18
I have a question about ads.  But more about how your plugin works.  It does not ask to choose a specific video player, which in JWPlayer already has the advertisement options built into the specific player.  Instead you are asking for a JW_LICENSE_KEY, which does not choose a specific player from our list.  What player are you using? If not the one on our dashboard?

[2020-03-08 19:53] olivinesguerra opened #39 "Installing in Expo"
#import "React/RCTViewManager.h" not found

[2020-03-17 12:23] TfADrama opened #40 "Example does not work"
Executing the example project gives an error in iOS:

In line 32 of file RCJavaScriptLoader.mm

Android is not working too...

    at handleError (/Users/.../Documents/Demos/react-native-jw-media-player-master/Example/node_modules/react-native/local-cli/cliEntry.js:35:21)

[2020-03-18 11:15] TfADrama commented on #18
I want to know this too... Any news?

[2020-03-18 11:17] TfADrama commented on #34
I got this error only for android and using videos not from youtube but from somewhere else. In android i can only play videos that exist in my JWPlayer account. In iOS everything works, it is normal?

[2020-03-18 17:55] TfADrama opened #41 "Playlist in Android not working"
I made a playlist with playlistItems and in iOS worked, Android don't.
Am i missing something? Or it's a feature to add in the feature?

[2020-03-19 15:46] dboutin84 commented on #18
anybody found solution ?

[2020-03-19 17:45] wahiche commented on #18
So I have found a way to actually just use a webview to handle the JWPlayer and get all the adds, the only downfall was that it wont go to fullscreen automatically.  Which I am fine with.  But at least I get the full functionality and the ads.

[2020-03-19 17:47] dboutin84 commented on #18
are you able to put an auto-play to play ads with webview?

[2020-03-19 18:24] wahiche commented on #18
Yes because it is using the web version of the JWPlayer, and those settings are set in the dashboard.  But you need to be able to host that webpage somewhere and do all the setup required there.  I guess you could always inject that info with the injectedJavascript prop that is available with the webview.  I did not do that because we already have a website for our product, so I was able to levera

[2020-03-20 10:21] ludovit-ubrezi commented on #31
+ same question :)

[2020-03-20 19:25] dschrimm opened #42 "Full screen does not exit when navigating through deep linking"
When the media player is in full screen and React Native deep-linking navigation occurs, the fullscreen video is not removed from the view and the controls go missing.

[2020-03-23 13:21] chaimPaneth commented on #30
I'm closing  due to inactivity.

[2020-03-23 13:21] #30 closed

[2020-03-23 15:20] chaimPaneth commented on #34
@TfADrama

I'm not sure I understand your last comment, though please open a new issue regarding your last comment as the topic has shifted.

Closing this issue.

[2020-03-23 15:20] #34 closed

[2020-03-23 15:21] chaimPaneth commented on #40
Iv'e updated the example and tested it, it's working now.

Thank you.

[2020-03-23 15:21] #40 closed

[2020-03-23 15:22] chaimPaneth commented on #24
@msuresh1993

Is this issue still happening in the latest version?

[2020-03-23 15:24] chaimPaneth commented on #20
@zikwall

Iv'e updated the example and tested it, it's working now.

Thanks you.

[2020-03-23 15:24] #20 closed

[2020-03-23 15:30] chaimPaneth commented on #36
@poison8

Check out the updated example and retry.
There are a few potential issues that might've resulted in video not showing.

1. Missing JW key in plist or manifest.
2. Styling issues.
3. Use the playlistItem param with value ```{file: "http://cn7.kankia.com/hls/20200107/0381bd7aa19679e00989a253172bd7e1/1578381712/index.m3u8'%7D", autostart: true}``` instead of file param (this is probably the

[2020-03-23 15:32] chaimPaneth commented on #42
@dschrimm

Does this happen on iOS or Android, and are you using nativeFullscreen true in your player or is it fullscreen via js styling?

[2020-03-23 15:43] chaimPaneth commented on #39
Fixed in latest version

[2020-03-23 15:43] #39 closed

[2020-03-23 16:13] dschrimm commented on #42
This is happening on iOS. I'm not seeing any difference when using nativeFullScreen=true vs false.

[2020-03-24 15:59] wahiche commented on #18
@dboutin84 if you need any help, or have any questions about how I accomplished it let me know.

[2020-03-26 19:21] dboutin84 commented on #18
no thank you, i'm ok, i host page with JWplayer and work fine :+1:

[2020-03-26 22:29] dschrimm commented on #42
Is this a known-issue? Are there any known resolutions or plan to fix?

[2020-03-27 13:55] wahiche commented on #18
That's great.

On Thu, Mar 26, 2020 at 3:22 PM David Boutin <notifications@github.com>
wrote:

[2020-04-02 22:21] dschrimm commented on #42
Upon further investigation, I see that exitFullScreen happens when backgrounding an app when the media player is full screen, but it does not happen when using react native navigation to navigate to another view. Is there any way to manually trigger exitFullScreen on the media player?

[2020-04-09 14:38] peter7z commented on #18
Hey @wahiche I'm having some trouble setting up a player on a reacct antive webview. Mind giving em a hand?

[2020-04-09 14:59] peter7z commented on #18
Hey @ybbond , what did you exactly implement? Im interested, I need adds to play on my react-native app.

[2020-04-09 15:32] ybbond commented on #18
@peter7z I use Google IMA as advertising provider. I modified this package’s native code directly in the `node_modules`, then use https://github.com/ds300/patch-package to keep the diffs.

Specific to android, I needed to add JWP’s Google IMA package to this packages `build.gradle`:
```implementation 'com.longtailvideo.jwplayer:jwplayer-ima:+'```

Then I just follow the steps to add Advertisement

[2020-04-09 17:12] peter7z commented on #18
@ybbond we use IMA too, unluckily I have very little objective-C knowledge. Would you mind sharing some code? If it's not too much trouble, thanks.

[2020-04-09 17:36] ybbond commented on #18
@peter7z sure!

add the line that starts with `+` plus sign, the line without it will be the reference where you should add it.

make sure you omit the plus sign! :D

`/node_modules/react-native-jw-media-player/ios/RNJWPlayerNativeView.m`
[code]

[2020-04-09 17:37] ybbond commented on #18
@peter7z sure!

add the line that starts with `+` plus sign, the line without it will be the reference where you should add it.

make sure you omit the plus sign! :D

`/node_modules/react-native-jw-media-player/ios/RNJWPlayerNativeView.m`
[code]

[2020-04-09 17:40] ybbond commented on #18
@peter7z if you better pass your advertisement's xml link as prop, you can do this.

make sure you bridge the props for the android too!

`/node_modules/react-native-jw-media-player/ios/RNJWPlayerNativeView.h`
[code]

`/node_modules/react-native-jw-media-player/ios/RNJWPlayerNativeView.m`
[code]

still `/node_modules/react-native-jw-media-player/ios/RNJWPlayerNativeView.m`

[code]

more `/node_mod

[2020-04-19 08:29] chaimPaneth commented on #42
Does the player keep playing on another screen after navigation from the screen with the player? Or just when coming back to the screen where the player is, the player still is in fullscreen?

Is this the scenario:

1. `Screen A` renders a player
2. Go Into fullscreen
3. Navigate to `Screen B` and player in `Screen A` still plays?

Or:
1. `Screen A` renders a player
2. Go Into fullscreen
3. Naviga

[2020-04-19 09:02] chaimPaneth commented on #21
Fixed

[2020-04-19 09:02] #21 closed

[2020-04-20 12:07] KestasVenslauskas opened #48 "Android video is black after going in/out fullscreen"
Latest version used
0.1.40

On android going into full screen mode video is black screen. Audio still playing normally. After seeking into other time or pressing settings & back video is shown again. Sometimes same thing replicated on going back out of full screen.

EDIT: play/pause also helps

[2020-04-20 16:00] chaimPaneth commented on #18
@ybbond

Can you create a PR with your code for ad support I'll merge it.

Thanks.

[2020-04-20 17:08] ybbond commented on #18
@chaimPaneth thank you for the recognition!

I will make the PR this morning (GMT+7 time).

Actually I am researching and learning to make the ad support as an extension for this package, thus, other people who doesn't need advertisement won't need to download extra package. That plan I'm afraid will take long though.

[2020-04-21 09:30] nlabofa opened #49 "Is DRM/Fairplay supported?"

[2020-04-21 12:09] ybbond commented on #18
Hei all, I made the advertisement PR

Here https://github.com/chaimPaneth/react-native-jw-media-player/pull/50

If you have time and have your own Advertisement Data Manifest File, please test using that PR's branch.

Thanks :D

[2020-05-04 16:50] BeshoySarkis commented on #24
Yes, anytime you have more than 1 instance initiated the background controls are referencing the last instantiated instance rather than the one being palyed

[2020-05-05 09:48] KestasVenslauskas commented on #29
@chaimPaneth No it's not this. It's clearly NPE if you go to the line the error happens in. Because it tries to do something with the View which is null. Still happening on latest version.

[2020-05-05 10:53] chaimPaneth commented on #48
Hi @KestasVenslauskas

Can you check the latest version 0.1.41 if this still happens?

I was using some code referenced in the jwplayer best practice android apps that was meant to prevent the media coders from crashing but that resulted in the black screen, I removed it and it's working for me but I'm not sure if this will result in the media coders crashing as mentioned so please check it out.

[2020-05-05 10:55] KestasVenslauskas commented on #48
Will get back to you on my apps next release

On Tue, May 5, 2020, 1:53 PM chaimpan <notifications@github.com> wrote:

[2020-05-06 12:38] KestasVenslauskas opened #51 "Request for additional callbacks"
Requesting few more callbacks:
`onComplete` - when media has reached the ending.
`onSeek` - when seek was requested from default controls.

Isn't `onIdle` the same as my requested `onComplete`? If so it does not work android.

Also `onTime` callback does not return described parameters (checked android).

[2020-05-06 22:02] chaimPaneth commented on #18
Hi all.

I've merged PR https://github.com/chaimPaneth/react-native-jw-media-player/pull/50 for ad support.

Thank you @ybbond.

[2020-05-06 22:02] #18 closed

[2020-05-06 22:11] chaimPaneth commented on #51
@KestasVenslauskas onComplete is implemented, I will get to the rest once I have more time - help is appreciated :-)

I will check out onTime on android as well.

[2020-05-06 22:14] chaimPaneth commented on #41
@TfADrama can you try latest version 0.1.42 and check if it's working?

[2020-05-06 22:21] chaimPaneth commented on #51
@KestasVenslauskas I've merged https://github.com/chaimPaneth/react-native-jw-media-player/pull/52 for onTime fix.

Thanks to @kononenkoAnton

[2020-05-07 09:19] KestasVenslauskas commented on #51
@chaimPaneth @kononenkoAnton The thing with onTime is that I still can't see the given data in the callback event.
I did the same approach yesterday to check if that would work so I would made a PR myself.
Am I missing something here? Look at the screenshot
https://prnt.sc/scgtb8

[2020-05-07 09:54] chaimPaneth commented on #51
Try

[code]

Does this work?

[2020-05-07 10:02] KestasVenslauskas commented on #51
@chaimPaneth It works! Forgot it's under nativeEvent prop... Omg sry I'm fairly new to RN things :)
BTW added few PR's also

[2020-05-07 10:02] #51 closed

[2020-05-07 10:03] KestasVenslauskas commented on #48
can confirm that it's fixed in 0.1.41

[2020-05-07 10:03] #48 closed

[2020-05-07 10:54] chaimPaneth commented on #51
I merged your PR's thanks.

[2020-05-07 13:48] KestasVenslauskas commented on #29
@chaimPaneth Added PR with a fix for this issue hope it helps.
The issue is that RNJWPlayerView tries to unbind Service by using Activity instance. But when app is in background for a longer time it's activity get destroyed by Android OS. That's why we need to use Application Context because Service outlives the Activity but not the application.

[2020-05-11 10:39] chaimPaneth commented on #36
Closing due to inactivity.

[2020-05-11 10:39] #36 closed

[2020-05-13 09:48] hapo-vupq opened #58 "Prop 'adSchedule' on iOS and Android not working."
When I run app with this code, i see black dot at 10s in seek bar but when the video runs to the black dot, my Ads not running.
And this is link VAST xml file:
https://xxxxxx/vast/?zone=24

Thanks for reading my issue, sorry because my English is bad.

[2020-05-13 11:06] KestasVenslauskas opened #59 "onSeek & onSeeked iOS callbacks"
onSeek & onSeeked event callbacks on iOS is not working. Would love to implement it myself but at this moment my objective c skills are not enough :/

[2020-05-13 12:15] chaimPaneth commented on #58
@JanSunavec can you help out here I've used the code in your PR https://github.com/chaimPaneth/react-native-jw-media-player/pull/38 for adSchedule.

Thanks

[2020-05-13 12:22] chaimPaneth commented on #59
@KestasVenslauskas check the latest version I've put it in tell me of it works

[2020-05-13 12:29] JanSunavec commented on #58
You need to use
{
        mediaId: "1",
        title: "asd",
        desc: "desc",
        time: 0,
        file: "my.mp4",
        autostart: true,
        controls: true,
        repeat: false,
        displayDescription: true,
        displayTitle: true,
        schedule: [{offset: "", tag: ""}]
}

[2020-05-13 13:03] KestasVenslauskas commented on #59
0.1.45 does not work as expected
onSeek works but gives wrong data example `{"target": 6243}` where 6243 is the length of the video instead of possition.
onSeeked does not work at all which I require mostly because on Android onSeeked event callback comes after successful seek where onSeek if called before this action.

[2020-05-13 13:23] KestasVenslauskas commented on #59
Also this may be the problem
[code]

Both using `JWSeekEvent` but I think  `onRNJWPlayerSeeked` should use `JWSeekedEvent`
Anyway this is how it works on android

[2020-05-13 14:08] chaimPaneth commented on #59
Ah yes perhaps your right I'll check later

[2020-05-13 14:11] chaimPaneth commented on #58
Hi @JanSunavec thanks for helping ou.

I've renamed the prop `schedule` to adSchedule` in my merge and @hapo-vupq is using it as intended perhaps there is an issue with the tag url? I don't know as I'm not showing ads as of now in my apps, any idea?

[2020-05-13 17:11] chaimPaneth commented on #59
I've pushed some changes to latest version with correct data for seek event and seeked event doesn't have any data in iOS but it exists, check it out.

Thanks

[2020-05-14 00:00] dschrimm commented on #42
Using nativeFullScreen has helped us resolve removing the video player from the view, however the entire app remains in fullscreen mode.

For example, the following occurs:
1. `Screen A` renders a player
2. Go into fullscreen
3. Deep-link with React Navigation to `Screen B`
4. App remains in fullscreen mode

[2020-05-14 03:32] hapo-vupq commented on #58
Oh, sorry, it working on Android and not working on iOS.
I test again and see Ads running on Android.
@JanSunavec schedule: [{offset: "", tag: ""}] not is a prop. 😄

[2020-05-14 18:07] ybbond opened #60 "[ANDROID] Disable Background Audio"
Currently, background audio for android is hardcoded as in this code. https://github.com/chaimPaneth/react-native-jw-media-player/blob/da7c7d8a2c700391bd20a32aa21fd13fa0f344ae/android/src/main/java/com/appgoalz/rnjwplayer/RNJWPlayerView.java#L506

I tried hardcoding it as:

[code]

But **it is not working**. Let's investigate whether it is JWPlayer's SDK fault or there is something more to be adde

[2020-05-15 03:20] tuan1192 commented on #58
Thank you for your update, on Android seem worked, but on iOS still not working.

[2020-05-18 11:47] StarDev0308 opened #61 "when chromecast support?"
I am implementing JWPlayer on my RN app.
It's working well but unfortunately, seems it is not supported for chromecast.

If someone knows that, I am appreciate.

Thanks

[2020-05-18 16:38] chaimPaneth commented on #59
@KestasVenslauskas can I close this issue?

[2020-05-18 19:45] KestasVenslauskas commented on #59
Yes tank you!

[2020-05-18 19:45] #59 closed

[2020-05-20 05:06] olivinesguerra opened #62 "Volume Control"
Hi. Is there any way we could control the volume or mute?

Thanks

[2020-05-20 11:40] chaimPaneth commented on #62
Hi @olivinesguerra I haven't implemented this yet, I might get around to this in a while, any PR's are appreciated.

[2020-05-25 13:54] KestasVenslauskas opened #63 "onFullScreen issue"
On latest version on Android callback `onFullScreenExit` is not called.
When exiting fullscreen `onFullScreen` is called instead `onFullScreenExit`

[2020-05-31 19:08] curtisbelt opened #64 "CHANGELOG.md or Release Notes"
Hello, I don't see any easy way to see what's changed between versions. Can you let me know if I've missed that somewhere? Otherwise I do recommend keeping a CHANGELOG.md or tagging your releases on Github w/ accompanying documentation. Appreciate your work!

[2020-06-08 20:52] PierreCapo opened #66 "Typescript definition"
@chaimPaneth before starting, thanks a lot for your library! We are currently using it in our team, and your work helped us a lot!

Since we are using Typescript, we added a basic typescript definition in our project but I've figured that I could spend more time to make it exhaustive and open a PR here. Are you encline to have and maintain typescript definition in this repo ? As I said I can open

[2020-06-09 15:42] chaimPaneth commented on #62
@olivinesguerra I didn't see a native method on the jwplayer that allows setting the volume, there is only an option to mute the player but the actual volume I think the user has to set with the device's controls.

Can you recheck the docs I might have missed it.

Thanks.

[2020-06-09 15:47] chaimPaneth commented on #66
Hi @PierreCapo thanks for your feedback! and yes I'de be happy if you could open that PR for Typescript definition, I just never got around to it...

Thanks.

[2020-06-09 17:50] PierreCapo commented on #66
Nice!  I close this issue in favor of https://github.com/chaimPaneth/react-native-jw-media-player/pull/67

[2020-06-09 17:50] #66 closed

[2020-06-10 02:07] pqv2210 commented on #60
I have the same problem. T.T

[2020-06-10 09:37] ybbond commented on #60
do you tried to hardcode the java too?

My current solution is to listen for `react-navigation` lose focus and call `player.pause()` method on javascript side. not optimal solution, but maybe that helps

we will still need to investigate this tho.

[2020-06-10 10:43] octsiri opened #69 "AdSchedule Seems Not Work Properly On Android"
Hi @chaimPaneth, I am trying to implement VMAP ads on JWPlayer by adding adSchedule on `playlistItem`. But I always get the result that the ad's video does not play and also there is always a loading indicator run forever while the original video won't play. I need your help. Thank you.

This is an example of my playlist item
[code]

That case only happens on Android but fine on iOS. 🙏

[2020-06-11 07:02] hapo-vupq commented on #69
Hi @octsiri , that is so funny, i run your example on iOS(simulator), Android(real device) (add autostart={true}) and i can see:
- On iOS: not working with mediaID and offset: 'pre' -> change to mediaId and you can see offset setting in https://developer.jwplayer.com/jwplayer/docs/android-schedule-vast-ads ,
scroll to Add multiple ad breaks to a player.
But ADS not working even though there's a do

[2020-06-12 16:43] simonemarinelli commented on #58
When I set `adSchedule` I get this error message on iOS:

[code]

[2020-06-15 02:41] hapo-vupq commented on #69
Update:
I changed all 'JWAdClientGoogima' to 'JWAdClientVast' in RNJWPlayerNativeView.m and my ADS run on iOS. 😅

[2020-06-15 06:06] pqv2210 commented on #58
Hi @simonemarinelli, I changed all 'JWAdClientGoogima' to 'JWAdClientVast' in RNJWPlayerNativeView.m and my ADS run on iOS. You can try it.
Good luck!

[2020-06-19 04:25] pqv2210 commented on #60
@ybbond Yep, I hardcode too, but it wasn't working.
I use AppState from react-native, listen state change and call 'current.pause()' like you.
It works pretty fast. 😄

[2020-06-20 08:20] ybbond commented on #60
@pqv2210 yes, the performance hit is not noticable with that approach.

@chaimPaneth I might test the build from #68 later next week, got pretty busy last week.

[2020-06-22 14:00] simonemarinelli commented on #58
Hi @pqv2210 thanks for your reply I changed all 'JWAdClientGoogima' to 'JWAdClientVast' like you said. Now I can see the dots on the seek bar but the ads still not playing.

[2020-06-22 15:46] simonemarinelli commented on #58
Hi @pqv2210 my bad I had a broken VAST tag. Now I fixed the issue. Thanks a lot it works.

[2020-06-23 11:00] chaimPaneth commented on #61
Closing in favor of https://github.com/chaimPaneth/react-native-jw-media-player/issues/31

[2020-06-23 11:00] #61 closed

[2020-06-23 11:19] StarDev0308 commented on #61
Hey, chaimPaneth

why are you closing this question?

I am not sure.

[2020-06-23 16:16] simonemarinelli commented on #58
I noticed that sometimes when I play videos the ads is loaded but it blocks.
This is the output I get on Xcode debugger console.

[code]

[2020-06-24 04:09] pqv2210 commented on #58
@simonemarinelli, I have never encountered this error but I have run ads on my real ios device and here is an example:
adSchedule:
  [{
    tag: 'https://pubads.g.doubleclick.net/gampad/ads?slotname=/124319096/external/ad_rule_samples&sz=640x480&ciu_szs=300x250&cust_params=deployment%3Ddevsite%26sample_ar%3Dpremidpost&url=https://developers.google.com/interactive-media-ads/docs/sdks/html5/tags&unv

[2020-06-24 10:17] simonemarinelli commented on #58
@pqv2210 with your VAST it works.

[2020-06-25 03:06] hapo-vupq commented on #58
@simonemarinelli Can you send me url your VAST with error above? Tkanks.

[2020-06-25 03:07] pqv2210 commented on #58
@simonemarinelli Can you send me url your VAST with error above? Tkanks.

[2020-06-25 10:02] simonemarinelli commented on #58
@pqv2210 Yes sure, here is it!
`https://secure.adnxs.com/ptv?id=14461029&kw_position=instream,pre-roll&kw_adnz_adpreview=test`

[2020-06-26 02:28] pqv2210 commented on #58
@simonemarinelli i checked your VAST URL and i think in MediaFile, maybe iOS not support for video has the .js extension, you can try with video has the .mp4 extension. :D

[2020-07-02 01:56] pqv2210 opened #71 "How to remove button Rewind 10 seconds in control bar?"
I tried remove button rewind 10 seconds by change skin JWP but look like prop playerStyle doesn't work, or native not receive css file. 😭

[2020-07-03 05:59] srinivaassunil opened #72 "weird error with react-native 0.62.2"
I am getting this weird error. Please help
![image](https://user-images.githubusercontent.com/10563463/86436712-6c316100-bd20-11ea-9317-ff505da6ebad.png)

[2020-07-06 17:02] BeshoySarkis commented on #24
This should have been fixed by JW in iOS release 3.14

"Fixed conflicts encountered when interacting with and resuming playback from the lock screen when there are multiple active players on the same screen."

https://www.jwplayer.com/release-notes/ios-sdk/?id=26241426

[2020-07-07 13:42] peter7z commented on #69
@octsiri I can not get the ads to work on iOS. Tried with lots of different tags and offset values, any ideas?
Nothing shows, the video just pays as if it had no ads.

[2020-07-08 06:38] hapo-vupq commented on #69
@peter7z @octsiri Have you tried change all 'JWAdClientGoogima' to 'JWAdClientVast' in node_modules/react-native-jw-media-player/ios/RNJWPlayerNativeView.m ?

[2020-07-08 10:30] chaimPaneth commented on #72
Hi @srinivaassunil can you please check with a previous version of the JW SDK as it might be an issue with a breaking change in the SDK - try to hardcode in the library's build.gradle https://github.com/chaimPaneth/react-native-jw-media-player/blob/master/android/build.gradle instead of `:+` at the end of the implementation definition define a previous SDK number try 3.9.0 for instance.

[code]

[2020-07-08 10:33] chaimPaneth commented on #71
Hi @pqv2210  did you put the css file in the assets folder or in the root dir for iOS and pass the name of the file to playerStyle prop without the filetype for instance "myCss.css" you only pass `playerStyle={"myCss"}` also is your css file properly defining the theme with filename preceding every tag - can you share an example?

Thanks

[2020-07-09 04:25] hapo-vupq commented on #71
Hi @chaimPaneth I put .css file be like this image
![example](https://user-images.githubusercontent.com/64763689/86996775-b3af6580-c1d6-11ea-83f2-46f429b7bd72.png)
And this is myCss.css file.
.jwplayer.jw-skin-myCss.jw-state-idle .jw-controls {
    background: rgba(255, 255, 255, .7);
  }

  /* Round, white play & restart buttons with black icons */
  .jwplayer.jw-skin-myCss .jw-display-controls .

[2020-07-09 06:02] pqv2210 commented on #71
Hi @chaimPaneth I put .css file be like this image
![example](https://user-images.githubusercontent.com/32980987/87002714-6afea900-c1e4-11ea-9252-d58a071a6a02.png)
And this is myCss.css file.
.jwplayer.jw-skin-myCss.jw-state-idle .jw-controls {
background: rgba(255, 255, 255, .7);
}

/* Round, white play & restart buttons with black icons */
.jwplayer.jw-skin-myCss .jw-display-controls .jw-display

[2020-07-13 02:08] #58 closed

[2020-07-13 04:30] hapo-vupq opened #73 "Display image with video extension .m3u8"
Hi @chaimPaneth ,
I have a url with extension .m3u8 (no video, it is black screen), and i want display image by 'image' prop in playListItem when my video url black screen. Android done, but iOS not working...
Can you tell me how to do it? :((
Thank you!

[2020-07-14 06:52] srinivaassunil commented on #72
Thank you @chaimPaneth. The above solution solved the problem.

[2020-07-14 06:52] #72 closed

[2020-07-14 10:35] chaimPaneth commented on #71
@pqv2210 I used this css file and my player successfully changed the style.

Try defining the playerStyle param on the player object and on the playlistItem object as so:

[code]

Also make sure that when you select the file in xcode your project is check marked as the Target Membership for the file.

[2020-07-15 07:18] hapo-vupq commented on #71
@chaimPaneth Thank you so much, it is working.
I see a function removeButton in https://sdk.jwplayer.com/android/v3/reference/index.html?com/longtailvideo/jwplayer/JWPlayerView.html and I can't find id of rewind button.
Can you find id of button?

[2020-07-15 07:18] pqv2210 commented on #71
@chaimPaneth Thank you so much, it is working.
I see a function removeButton in https://sdk.jwplayer.com/android/v3/reference/index.html?com/longtailvideo/jwplayer/JWPlayerView.html and I can't find id of rewind button.
Can you find id of button?

[2020-07-15 10:09] chaimPaneth commented on #71
@pqv2210

The removeButton function is only meant to remove custom buttons that you added using the addButton function https://sdk.jwplayer.com/android/v3/reference/com/longtailvideo/jwplayer/JWPlayerView.html#addButton-java.lang.String-java.lang.String-com.longtailvideo.jwplayer.events.listeners.VideoPlayerEvents.OnCustomButtonClickListener-java.lang.String-java.lang.String-

Closing this issue n

[2020-07-15 10:09] #71 closed

[2020-07-15 16:41] chaimPaneth commented on #64
@curtisbelt for now I started adding release notes check out https://github.com/chaimPaneth/react-native-jw-media-player/releases

Thanks

[2020-07-15 16:41] #64 closed

[2020-07-15 16:42] chaimPaneth commented on #69
I've added in the latest version 0.1.48 an adClient prop to be able to determine the ad client it should solve this issue.

[2020-07-15 16:44] chaimPaneth commented on #24
@BeshoySarkis can you confirm that it's working in the latest version of this library 0.1.48

Thanks

[2020-07-15 16:45] chaimPaneth commented on #41
Closing to inactivity - should work since version 0.1.42 and up.

[2020-07-15 16:45] #41 closed

[2020-07-16 07:34] chaimPaneth commented on #60
I added a `backgroundAudioEnabled` prop for this purpose in the latest version 0.1.48 but after some debugging it seems it's only working on iOS but on android it does keep playing in the background even though there is no media session or audio focus request when the `backgroundAudioEnabled` prop is false, though this successfully disables the notification center controls.

Might be on newer devi

[2020-07-16 07:37] chaimPaneth commented on #73
@hapo-vupq this should be similar on iOS, what's the url you're passing for android image?

[2020-07-17 08:03] hapo-vupq commented on #73
@chaimPaneth I pass a url extension .jpg be like
https://cdn.britannica.com/84/73184-004-E5A450B5/Sunflower-field-Fargo-North-Dakota.jpg

[2020-07-20 01:44] hapo-vupq commented on #69
@chaimPaneth This problem has been fixed at version 0.1.48.
Thank you.

[2020-07-20 10:23] chaimPaneth commented on #69
You welcome! Closing this issue.

[2020-07-20 10:23] #69 closed

[2020-07-21 17:41] dalbeerworksdelight commented on #41
@chaimPaneth I have tried 0.1.42 and so on versions but in android playlist is not working

[2020-07-21 17:44] dalbeer22g commented on #41
@chaimPaneth I have tried versions 0.1.42 and so on but playlist is not working on android

[2020-07-22 01:35] hapo-vupq commented on #41
@dalbeer22g Current version is 0.1.48, you can update to resolve your problem.

[2020-07-22 05:47] MohitDhingra0786 commented on #41
I have updated but still not working

[2020-07-22 05:52] dalbeer22g commented on #41
@hapo-vupq i have updated to latest version still not working. Can you please help me a little more by providing code or little more information.

[2020-07-31 10:09] KestasVenslauskas commented on #60
@chaimPaneth So I tried setting backgroundAudioEnabled to false. In android it keeps playing without a notification controls.
On iOS it does not work at all when set to true (at least on emulator).

[2020-07-31 15:20] chaimPaneth commented on #73
Hi @hapo-vupq I used the image url you attached above and it's working fine for me. Can you show me the code how you define the image for the `playlistItem`. Thanks.

![Simulator Screen Shot - iPhone 11 Pro - 2020-07-31 at 18 17 33](https://user-images.githubusercontent.com/20083971/89049777-6a2be380-d35a-11ea-8355-e1acaf90e53c.png)

[2020-08-03 06:24] srinivaassunil opened #78 "Does this library support video casting"
JW player provides casting in the native library. But I don't see any [method ](https://developer.jwplayer.com/jwplayer/docs/android-enable-casting-to-chromecast-devices)to access it. Please help.

[2020-08-04 19:43] KestasVenslauskas commented on #60
Another issue that there is no notification on Xiaomi 9T pro phone. Not sure about other xiaomi phones

[2020-08-12 09:26] hapo-vupq commented on #73
@chaimPaneth this is my example ...
`playlistItem={{
              mediaId: '1',
              file: 'https://wse.hatinhtv.net/audio/recorded2020-08-12_6.mp4/playlist.m3u8',
              autostart: true,
              controls: true,
              image: 'https://cdn.britannica.com/84/73184-004-E5A450B5/Sunflower-field-Fargo-North-Dakota.jpg',
            }}`

[2020-08-12 09:28] hapo-vupq commented on #73
@chaimPaneth This is my example.
[code]

[2020-08-13 06:04] KestasVenslauskas commented on #60
@chaimPaneth any update on this?

[2020-08-13 08:10] ybbond commented on #60
I forget to inform that I did a quick check 2 weeks ago, and it works. But I think we need further check. Should we make a priority test cases?

such as with background audio disabled, will it show media drawer on notification.

[2020-08-19 07:01] srinivaassunil commented on #78
Managed this using [react-native-google-cast](https://github.com/react-native-google-cast/react-native-google-cast) .

[2020-08-19 08:00] chaimPaneth commented on #78
@srinivaassunil I'm adding jwplayer [casting](https://support.jwplayer.com/articles/how-to-enable-casting-and-airplay#:~:text=To%20enable%20casting%20for%20a,SDK%20or%20iOS%20SDK%20directly.&text=From%20your%20list%20of%20players,click%20the%20toggle%20to%20ON). in the next version, it will be ready in the next few days.

[2020-08-19 08:01] chaimPaneth commented on #31
I'm adding jwplayer [casting](https://support.jwplayer.com/articles/how-to-enable-casting-and-airplay#:~:text=To%20enable%20casting%20for%20a,SDK%20or%20iOS%20SDK%20directly.&text=From%20your%20list%20of%20players,click%20the%20toggle%20to%20ON) in the next version, it will be ready in the next few days.

[2020-08-20 22:03] DrCorduroy opened #79 "Android Breaks with JW Player SDK version 3.16.0"
JWPlayer Android SDK 3.16.0 Release Notes:
Updated the Google IMA to support version 3.18.1.

This has caused some sort of incompatibility between google packages. It wasn't able to find androidx.media.session.

<s>Downgrading to 3.15.1 fixed the issue.</s>

[2020-08-20 23:44] alexwasner commented on #79
I'm guessing I have a similar issue. I'm not sure how it could be related, but my android builds started failing last night and it seems like jetify isn't converting them to `androidx` for me anymore. I tried building via CircleCI on the same commit that succeeded and it failed, so it's something external to my codebase.

Tons of errors like this:
[code]

[2020-08-21 00:33] DrCorduroy commented on #79
I spoke too soon, not working for me.

I was able to build but now I'm getting a blank screen where the player should be.

Yes, I was getting similar errors as yours.

Still working on it, will update.

[2020-08-21 01:04] mYmEvrei commented on #79
same

[2020-08-21 05:23] Minishlink commented on #79
In the mean time you can use this patch (apply with patch-package) https://gist.github.com/Minishlink/180e03aebd28b5071b40f75d1d90e73d

[2020-08-21 08:44] mYmEvrei commented on #79
@Minishlink  Thank you, I am very grateful to you

[2020-08-24 14:50] KestasVenslauskas commented on #79
You can also add `implementation 'androidx.media:media:1.1.0'`
instead downgrading jw player version.
Add it in react-native-jw-media-player android projects gradle file.

[2020-09-01 09:24] hapo-vupq commented on #73
@chaimPaneth Can you give me your example?
Thank you!

[2020-09-01 23:05] cmcaboy opened #85 "Attempt to invoke virtual method 'com...SessionManager.getCurrentCastSession()' on a null object reference"
I have the latest version installed and I am receiving the following error on Android. Seems to be related to casting.

![image](https://user-images.githubusercontent.com/1489169/91914403-f7c66000-ec85-11ea-82ea-1492dcc124e5.png)

[2020-09-01 23:17] cmcaboy commented on #85
If I downgrade to 2b28bd22929c327f2a1979ddd8617be641ebad01, the issue does not occur.

[2020-09-02 14:11] davidblanar opened #86 "[Android/iOS] adVmap prop - no ads played"
Hi @chaimPaneth , it seems that using the adVmap prop as described in the docs does not work neither on iOS nor Android. The vmap url is passed into native code but it seems the player is ignoring it for some reason. It works in the iOS demo app provided by JW Player.

Here's some example code (taken from the example):
[code]

If you could point me to what the problem might be, it would be much ap

[2020-09-04 08:05] power-cut commented on #85
same here but on android !!

[2020-09-04 13:53] power-cut commented on #85
@cmcaboy @chaimPaneth any idea how to resolve this in android ??

[2020-09-04 20:35] power-cut opened #87 "how to get the quality control toggle on the player?"

[2020-09-05 14:53] cmcaboy commented on #85
@power-cut I received the error on Android. I wasn't really able to dive into a solution so I ended up just downgrading to a stable version.

[2020-09-06 14:45] chaimPaneth commented on #86
Hi @davidblanar Did you try setting the adClient as well? try JWAdClientGoogima pass

[code]

[2020-09-07 08:32] n1o commented on #86
Hi @chaimPaneth, we actually want to use JWAdClientVast, not JWAdClientGoogima as far as I see we do not pass adClient it defaults to JWAdClientVast.

[2020-09-08 15:08] maitzeth commented on #85
Im facing this issue too, but I need all the new features from the new version, I dont want to downgrade :(

[2020-09-08 21:28] cmcaboy commented on #85
@maitzeth Although not ideal, you could fork the repo and manually add the new features from the newer versions. This can get tricky, but if the feature set you need is small, this could work.

[2020-09-14 08:37] #31 closed

[2020-09-14 08:37] #29 closed

[2020-09-14 08:53] KestasVenslauskas opened #89 "fullscreen mode on IOS breaks layout on rotation"
I think this is the same issue:
https://github.com/react-native-community/react-native-video/issues/1319

Look absolutely the same.
Is it fixible?

[2020-09-14 15:17] KestasVenslauskas opened #90 "NSMicrophoneUsageDescription info.plist error"
Hi after upgrading to a newest version 0.1.49 and adding everything required by casting I receive this email from apple:
`...The app's Info.plist file should contain a NSMicrophoneUsageDescription key with a user-facing purpose string...`
Should this be mentioned in readme ?
And why does it need a microphone usage?

[2020-09-17 01:32] chaimPaneth commented on #90
I updated the readme in the next release. Thank you.

[2020-09-17 01:32] #90 closed

[2020-09-17 06:45] #63 closed

[2020-09-17 06:46] KestasVenslauskas commented on #90
But isn't this missleading for user I mean why would casting require microphone? From which library it's required I need to inform my customer

[2020-09-17 10:47] hapo-vupq commented on #73
@chaimPaneth Hi, i using ver 0.1.46 and i can't show image with video .m3u8 with iOS.
I upgrade JWPlayer-SDK to 3.16.0 but not work.
Can you show me how to display image with ver 0.1.46?
Thank you!

[2020-09-17 11:03] #73 closed

[2020-09-17 11:04] hapo-vupq commented on #73
Done!
My fault, i update version SDK and set controls: true.

[2020-09-23 07:15] shubuu97 opened #91 "Video Controls are not displaying on Full Screen in IPhone 8"
![Screenshot 2020-09-23 at 12 35 50 PM](https://user-images.githubusercontent.com/33938128/93979188-a39d3000-fd9a-11ea-854d-c167e4a6b93a.png)

[2020-09-23 22:30] #79 closed

[2020-09-25 21:54] escobar022 commented on #91
@chaimPaneth Have you had a chance to look at this? I'm also seeing this issue an i'm unable to debug.

[2020-10-01 07:09] sergey-derevjanko commented on #86
@n1o @davidblanar
Try to use adSchedule to run ad as preroll \ middleroll
`  adSchedule:[{tag: 'http://playertest.longtailvideo.com/adtags/vmap2.xml', offset: 'pre'},{tag: 'http://playertest.longtailvideo.com/adtags/vmap2.xml', offset: '5'}]
`
Taken from https://developer.jwplayer.com/jwplayer/docs/jw8-schedule-vast-ads
In my case it works.

[2020-10-03 01:55] archcorsair opened #92 "Closed Captions Support"
Hi there, I couldn't find any documentation about closed captioning support.
Does the `mediaId` property allow the player to read the captions available?

Any assistance on this topic would be appreciated, thank you.

[2020-10-06 20:54] archcorsair commented on #92
I will try to implement this feature myself today

[2020-10-08 11:43] KestasVenslauskas opened #94 "iOS 14 background audio"
I received some reports that audio stops on iOS 14 version when app is in background

[2020-10-12 18:02] #92 closed

[2020-10-14 01:07] archcorsair opened #96 "Forward Controls not working"
Hello! Thank you for the wonderful project!

I am integrating this into my project and running into an issue. The issue is that while the rewind button appears, the fast forward button does not appear for me.
I have tested this on both Android and iOS, with `controls` turned both `on` and `off`.

Any ideas on what I might be doing wrong? Any information I can provide you to help debug this?

Thank

[2020-10-19 10:17] QuentinJ-LV commented on #30
Hi @chaimPaneth, I think it could be usefull to create an example where you use a simple playerStyle modifying the player.

Also about your upcoming solution, you can't pass :

`playListItem={{
    playerStyle: "video"
}}`

Since playerStyle is not a prop that can be passed in playListItem (at least at that time) from your type :

`interface PlaylistItem {
    mediaId?: number;
    startTime?: num

[2020-10-21 22:39] chaimPaneth commented on #96
@archcorsair do you mean the 10 seconds rewind button I think the default template of player only includes a 10 second back button you will need to customize the player theme to add a forward button.

Can you look into that?

Thanks

[2020-10-21 22:57] archcorsair commented on #96
@chaimPaneth I don't understand the the API as well as you, but I did notice that the forward skip 10 seconds button code exists.

https://github.com/chaimPaneth/react-native-jw-media-player/blob/master/ios/RNJWPlayerControls.m#L45
https://github.com/chaimPaneth/react-native-jw-media-player/blob/master/ios/RNJWPlayerControls.m#L147

Any pointers would be greatly appreciated.

[2020-10-26 08:02] webwork-dot opened #97 "How to pause video after given some seconds?"

[2020-10-26 08:06] #97 closed

[2020-10-26 08:50] webwork-dot commented on #97
this.JWPlayer.pause();

[2020-10-26 10:55] webwork-dot opened #98 "setFullscreen not working"

[2020-10-27 19:22] chaimPaneth commented on #96
Hi @archcorsair these native controls are still experimental and aren't working properly for now don't use the nativeControls: true prop and it will use the built in controls of JW

[2020-11-05 19:28] et-nat1995 opened #100 "How would I load a premade playlist from jwPlayer?"
Hey there,

I am trying to build a react native app to be able to pull videos from jwPlayer and some of videos are structured as a main video in a playlist and supplement videos breaking down each section in the main video.

I am able to get regular videos following this structure:
[code]

How would I go about getting video that are returned from jwPlayer playlist and to show the playlist icon?
Fo

[2020-11-09 19:24] #100 closed

[2020-11-09 19:43] et-nat1995 opened #101 "[Android] Getting these errors in Logcat (android studio) when running a project on android"
[code]

The project I am working in was a managed expo workflow that i ejected to a bare workflow. For iOS i was able to get a working player, but having issues with android.
Followed the SDK installation with gradle as recommended from JWplayer.
Added the needed skd keys in the AndroidManifest.xml
Added the needed receiver block for the controls in the control center
Followed the set up as mentio

[2020-11-09 20:29] chaimPaneth commented on #100
Hi @et-nat1995 I think this url should give you playlist data https://cdn.jwplayer.com/v2/media/id, this should work for playlists, live events, video etc all media.

Hope that helps.

[2020-11-09 20:37] chaimPaneth commented on #101
Hi @et-nat1995

Did you install the latest version of this library via regular `npm install`?
Are you using android x?
You shouldn't have to define `implementation 'com.longtailvideo.jwplayer:jwplayer-core:3.18.2'` in the `android/app/build.gradle` only the `implementation 'androidx.media:media:1.2.0'` line, this is needed only if you want background audio and you set the below in your AndroidMani

[2020-11-09 21:32] et-nat1995 commented on #101
Hi @chaimPaneth

Yes I installed the latest version of this library using yarn/npm. Version 0.1.52.
I am using android 10.0, release name Q, API level 29

Cleared yarn cache reinstalled the library.
Removed the definition for `implementation 'com.longtailvideo.jwplayer:jwplayer-core:3.18.2'`

Rebuilt and installed the app on a simulator, in logcat on verbose i am getting this error as well:
[code]

[2020-11-09 21:42] chaimPaneth commented on #101
Hi @et-nat1995 the above error usually means your setting a prop on the player that isn't exported to the JS bridge can you show me an example of how you implement the player in your JS.

Check out https://stackoverflow.com/questions/42981703/react-native-could-not-find-generated-setter-for-class && https://github.com/facebook/react-native/issues/6692

The second link is about a google play servic

[2020-11-10 16:58] et-nat1995 commented on #101
Hi @chaimPaneth

Yup that was the issue. Wasn't sure how to read that error and what it meant. First time working on a bare workflow.
Thank you for answering my questions with prompt responses. Really appreciate it.

Due to how the JWplayer account is set up its using an older api not the current v2/ as you mentioned in my other issue. I had to make a get request to that api and build the playlist

[2020-11-26 10:04] KestasVenslauskas commented on #94
Working in latest version.

[2020-11-26 10:04] #94 closed

[2020-11-26 10:05] KestasVenslauskas commented on #89
Fixed by refactoring app to react-navigation v5. Issue was on the old SafeAreaView implementation.

[2020-11-26 10:05] #89 closed

[2020-12-15 09:50] Infokora opened #102 "[android] loadPlaylistItem() set new audio and controls in the media center."
Hi everyone. After i set new audio, player start playing, but don`t will stop prev audio, and all new/next audio will overlaps each other, and sound together.
Controls in the android media center, control only first audio and don`t work with new audio.

[2020-12-17 11:54] FathimaShaik opened #103 "Cannot resolve symbol 'android/build' on line import com.android.build.OutputFile in app/build.gradle."
As we searched through it, we got few solutions like changing the classpath 'com.android.tools.build:gradle:3.4.1' to 3.4.2 in  package build.gradle file,  we already have it as 3.4.2 and even though the issue is not getting resolved.

[2020-12-18 09:29] #103 closed

[2020-12-22 10:51] sanjay628 opened #104 "New issue"

[2020-12-22 10:57] sanjay628 commented on #104
![Screenshot 2020-12-22 at 4 25 56 PM](https://user-images.githubusercontent.com/54932767/102881217-87c92900-4472-11eb-9dd2-ed6b936c973c.png)

[2020-12-31 10:59] fvasyliuk commented on #102
me helped:
add "this.destroyPlayer();"  in RNJWPlayerView -> setupPlayerWithFirstItem before "mPlayer = new RNJWPlayer(simpleContext, playerConfig);"

[2021-01-13 01:24] arsimr16 opened #106 "Local Media Playback"
I'm trying to figure out if this package supports local media playback.  I want to loop a short mp4 file in the background of the logged out welcome screen.

It seems like the Android and iOS SDKs both support local media playback.  The documentation can be found here:
[Android](https://developer.jwplayer.com/jwplayer/docs/android-configure-local-media-playback)
[iOS](https://developer.jwplayer.co

[2021-01-13 17:16] brjoaof opened #107 "Error 100012"
I'm getting error 100012. My license key is right.  Do you have any idea how to get this problem fixed? Thank's

[2021-01-20 10:01] chaimPaneth commented on #107
Hi @brjoaof is this issue for iOS or Android and did you define your license in the respective locations?

[2021-01-20 10:08] chaimPaneth commented on #106
Hi @arsimr16

Local files do work with this library we use it local files a lot.

We use react-native-fs to get the file path and pass that in the file prop

[code]

Tell me if this works for you,
Thanks

[2021-01-20 10:12] chaimPaneth commented on #85
This issue is fixed on the latest version 0.1.52.

[2021-01-20 10:12] #85 closed

[2021-01-20 10:42] brjoaof commented on #107
Android. Yes, I put the key in the AndroidManifest.xml. Also, I put JWPlayer dependencies and configure core and common version(Android SDK 2 - 2.9.2+2)

[2021-01-20 19:08] arsimr16 commented on #106
Thank you!  This works for me :)

[2021-01-20 19:08] #106 closed

[2021-01-21 22:52] BeshoySarkis opened #108 "Typescript types file is not correctly configured"
Per [JWPlayer documentation](https://developer.jwplayer.com/jwplayer/docs/jw8-player-configuration-reference#section-media), the MediaId is a String and not a number.

The [type index](https://github.com/chaimPaneth/react-native-jw-media-player/blob/master/index.d.ts#L10) file has mediaId as a number, making it unusable in 0.1.52.

There are also many errors with onTime and other functions.

[2021-01-22 18:40] arsimr16 commented on #62
https://github.com/chaimPaneth/react-native-jw-media-player/pull/105

This has been merged and adds support for muting.

[2021-02-04 14:40] fvasyliuk opened #111 "[ios] onPlaylistComplete don't work for ios"
onPlaylistComplete don't work for ios

[2021-02-15 12:22] fvasyliuk opened #113 "[android] How to change item in a playlist?"
Hello!
I am integrating this into my project and running into an issue. The issue is that I can't change track in a playlist for android.
For ios I use setPlaylistIndex but for android, it's don't work.

Any ideas on what I might be doing wrong? Any information I can provide you to help debug this?

Thanks!

[2021-02-15 20:02] #108 closed

[2021-02-16 02:08] gmrandom opened #114 "NPM Release"
Can we cut a new release into NPM? Would love to consume the new Typescript fixes that were just committed.

[2021-02-19 08:53] DeepakVishawakarma opened #115 "Video not rotated full screen and NextEpisode index issue"
Hi, Im facing few of the issue these issue are,
I created an app which is in portrait mode. And adding few playlist items in playlist like,

import React, {useEffect} from 'react';
import {
  StyleSheet,
  SafeAreaView,
  View,
  StatusBar,
  BackHandler,
} from 'react-native';
import {
  widthPercentageToDP as wp,
  heightPercentageToDP as hp,
} from 'react-native-responsive-screen';
import JWPla

[2021-02-22 11:53] saurabh-nandan commented on #107
I am facing the same error.
"Sorry, the video player failed to load. (Error Code: 100012)"

"dependencies": {
    "react": "16.13.1",
    "react-native": "0.63.4",
    "react-native-jw-media-player": "^0.1.52"
  }

[2021-02-24 01:07] arsimr16 opened #116 "Fatal Exception: android.app.RemoteServiceException: Context.startForegroundService() did not then call Service.startForeground()"
Here's the full message:

`Fatal Exception: android.app.RemoteServiceException: Context.startForegroundService() did not then call Service.startForeground(): ServiceRecord{9d44fed u0 com.grokker/com.appgoalz.rnjwplayer.MediaPlaybackService}
       at android.app.ActivityThread$H.handleMessage(ActivityThread.java:2210)
       at android.os.Handler.dispatchMessage(Handler.java:106)
       at android

[2021-02-24 16:38] Julious1994 opened #117 "Settings icon not showing in controlbar IOS"
In Android i can see settings menu when video loads.
But in ios it's not showing.

Is there any thing i am missing for ios? Every thing else works fine. cc-icon also comes right.

[2021-02-25 20:07] arsimr16 commented on #116
One more interesting thing to note is that all of these crashes are coming from Samsung Galaxy S10 line of phones running Android 11.  I tried testing in an Android emulator (Pixel 4 API 30) but could not reproduce the bug.  The only physical Android device I have access to for testing is a Galaxy S8 running Android 9 (11 is not available for this phone).  Hopefully this might help narrow down the

[2021-02-27 03:28] jjc297 opened #118 "Unable to cast playlist videos"
Casting playlist videos fails with error "Error Domain=Casting stopped because a playback error has occurred Code=206 "(null)" UserInfo={event=onCastingStopped, message=Casting stopped because a playback error has occurred}".

[2021-02-28 10:29] marcinkieruzel opened #119 "How to get current playlist item?"
Is there a way to get current playing item programmatically? For example on onPlaylistItem callback?
I'm trying to build my own player view - with callbacks.

[2021-03-01 11:14] deepaknarulaaesl opened #120 "Enhancement Requirement"
Hi,

**You guys have been doing a fabulous job maintaining this library!**
I am Deepak Narula. I work with Aakash Educational Services Limited. We were planning to integrate JW Player in our react native app. I am looking for certain enhancements in the JW player. All our audios and videos have been divided into various segments.
For example: An audio file of length 3 minutes could have the follow

[2021-03-02 08:26] chaimPaneth commented on #119
@marcinkieruzel Yes onPlaylistItem callback is a good place to get the current playing item and index does this work for you?

[2021-03-02 08:28] chaimPaneth commented on #107
@brjoaof @saurabh-nandan Can you share the code how you setup the player?

[2021-03-02 08:50] chaimPaneth commented on #120
Hi @deepaknarulaaesl

You should be able to do this via the `tracks` prop, have a look at this ->
https://support.jwplayer.com/articles/how-to-add-chapter-markers

And try to make use of `tracks` prop on the [playlistitem](https://github.com/chaimPaneth/react-native-jw-media-player/tree/master#playlistitem)

I did not test this yet let me know if it works.

Thanks.

[2021-03-02 08:57] chaimPaneth commented on #114
@gmrandom Released version 0.1.53.

Thanks.

[2021-03-02 08:57] #114 closed

[2021-03-02 08:58] chaimPaneth commented on #102
Hi @Infokora @fvasyliuk I released version 0.1.53 with the suggested fix.

Thank you.

[2021-03-02 08:58] #102 closed

[2021-03-02 13:00] deepaknarulaaesl commented on #120
Thanks for a swift revert! Shall keep you posted.

[2021-03-02 23:23] jjc297 commented on #118
This turned out to be issue with casting silent videos.

[2021-03-02 23:23] #118 closed

[2021-03-04 05:09] jjc297 opened #121 "Cast button not showing up on Android"
On iOS, showCastButton will show the cast button, but this is broken on Android. No casting button appears.

[2021-03-05 20:34] MattHorriganSunrise opened #122 "No License key found 100011 Error iOS 13.5"
I've done all the steps to add the license key to the `Info.plist` file key: `JWPlayerKey` and value is the key from the JW dashboard but when I load the player in react native on simulator it gives me a 100011 error. Ive tried clean building and doing it this way:
https://developer.jwplayer.com/jwplayer/docs/ios-configure-your-project

but still throws the 100011 error, am I missing anything else

[2021-03-06 22:07] marcinkieruzel commented on #119
@chaimPaneth yes thank you - I forgot to use nativeEvent

[2021-03-06 23:07] marcinkieruzel opened #123 "Cant `play` after adding playlist with `autoplay: false`"
When I add playlist with `autoplay: true` player works well, but when I'm trying to add playlist with `autoplay: false` and then set playerRef.play() it doesn't work. Also I have a question is it possible to load playlist and autostart from specific index?

[2021-03-06 23:13] marcinkieruzel opened #124 "Invalid view returned from registry, expecting RNJWPlayerNativeView"
Did you experience such an error?
[code]
This happens on startup, but app seems to work well after dismissing the error.

[2021-03-06 23:14] #119 closed

[2021-03-08 17:42] arsimr16 commented on #123
Have you tried `setPlaylistIndex()`?  Also, `playerRef.play()` works for me.  Are you having problems with the other video player methods, or is it just a problem with `play()`?  I'm wondering if it's a problem with the way you're handling the playerRef, but it's hard to tell without seeing your code.

I would try using `setPlaylistIndex()` with `autoplay: true` and see if that gets you what you w

[2021-03-08 18:02] marcinkieruzel commented on #124
I was trying to use playerRef before rendering JWPlayer

[2021-03-08 18:02] #124 closed

[2021-03-08 19:37] arsimr16 opened #125 "react-native-google-cast - target has frameworks with conflicting names: googlecast.framework"
I ran into some problems trying to use `react-native-google-cast` with this package on iOS and wanted to share my solutions to help anyone else in the same situation.

If you add `react-native-google-cast` then run `pod install`, `google-cast-sdk-no-bluetooth` is installed by default.  This conflicts with the `google-cast-sdk` dependency in this package so you'll get the `target has frameworks wit

[2021-03-08 19:37] #125 closed

[2021-03-09 22:30] eduardosunrise commented on #107
Encountering the same issue "Sorry, the video player failed to load. (Error Code: 100012)":

Dependencies:
"react": "16.13.1",
"react-native": "0.63.3",
"react-native-jw-media-player": "^0.1.53"

I've tried every key possible in the AndroidManifest.xml JW_LICENSE_KEY value

[2021-03-09 22:52] MattHorriganSunrise commented on #122
Got this on the example app as well. Changed the `JWPlayerKey` in the `RNJWPlayer.xcworkspace` file and throws an error:

[code]

Same 100011 error occurs on actual player.

[2021-03-11 10:58] marcinkieruzel commented on #123
Hi,
I've noticed couple of issues on IOS strictly:
– can't use `setPlaylistIndex()` or `playerRef.play()` right after `playerRef.loadPlaylist()`
– `onPlaylist` callback doesn't work at all

[2021-03-16 14:33] fvasyliuk commented on #113
me helped:
change "playerView.mPlayer.setCurrentAudioTrack(index);" to "playerView.mPlayer.playlistItem(index);" in RNJWPlayerModule.java -> setPlaylistIndex

[2021-03-16 16:37] et-nat1995 commented on #96
@chaimPaneth I am trying to implement a 10 second forward button in the player as well. Are there any updates on this? It has been a few months since the last comment, wondering is anything has changed since then?

I am not using `nativeControls: true` I am using the built in controls.

[2021-03-17 21:02] felipegmg opened #126 "When will the attribute playbackRateControls be available?"
Recently I am using this plugin, but I am having the need to use the speed settings functionality for my videos. Is there any provision for this functionality to be available for both iOS and Android?

Thanks!

[2021-03-18 00:16] archcorsair opened #127 "Compatibility with newer versions of RN"
With React Native 0.64 released recently I've been working on upgrading my project, however I have run into some dependency related issues and have pinpointed it to this project having very old deps. So old in fact that we need to use `npm install --legacy-peer-deps` when `react-native-jw-media-player` is present.

Have you considered updating the project's dependancies to work with newer releases

[2021-03-18 08:11] Rishabh6211 opened #128 "Try to run local storage path in ios in react-native-jw-player"
I am trying to run the code using xcode with Simulator(iphone 11 pro).

I have done the all setup of React-Native-Jw-Player with pod and added the key and sdk as well

Issue - i am trying to play the video file from the local path of the simulator using ios in jw player but it's not reading the path -

file:'/Users/rishabh/Library/Developer/CoreSimulator/Devices/C20205E8-CCCD-4583-834F-87FA0420E4E

[2021-03-18 19:41] archcorsair commented on #128
I believe you cannot use a static path like that. Have you tried to import it first?

[2021-03-18 19:42] archcorsair commented on #122
Can you share the entry you've added in `Info.plist` without sharing your license key?

[2021-03-18 20:16] felipegmg commented on #117
Same problem!

[2021-03-19 07:12] Rishabh6211 commented on #128
Yeah @archcorsair I tried with that as well i created the video folder inside of my project and then import it but its not working

[2021-03-19 07:56] archcorsair commented on #128
@Rishabh6211 Have you tried playing an mp4 file? I just noticed you're trying to import an m3u8 which might point to media that doesn't exist or is not accessible.

[2021-03-19 15:00] chaimPaneth commented on #128
Hi @Rishabh6211

I use react-native-fs to locate the actual file path and then append to the path file:// + path

[2021-03-19 21:30] KestasVenslauskas commented on #127
Was about to write about the warnings I get:

warning " > react-native-jw-media-player@0.1.53" has incorrect peer dependency "react-native@^0.40.0".
warning " > react-native-jw-media-player@0.1.53" has incorrect peer dependency "react@~15.4.0-rc.4".

Did not upgraded to 0.64 yet but still this has to be addressed.

[2021-03-22 08:54] Rishabh6211 commented on #128
Hi @archcorsair Yeah i tried playing mp4 as well but not working .
Hi @chaimPaneth  i used rect-native-fs as well

[2021-03-25 07:37] AzharOfficialGitAccount opened #129 "npm installation error"
npm install react-native-jw-media-player is not installed
plaese help us to resolve

[2021-03-26 09:52] KestasVenslauskas commented on #116
Having the same issue here.
I found someone fixing the problem here:
https://stackoverflow.com/questions/55894636/android-9-pie-context-startforegroundservice-did-not-then-call-service-star

[2021-04-10 18:22] erenkulaksiz commented on #127
Yeah, i got react native version mismatch error while building the example too.

[2021-04-14 21:27] sarmad-tanvir opened #131 "hls link crashing on Android"
The HLS link seems to be working fine on iOS but it is crashing on Android. Is anyone else facing the same issue?

[2021-04-14 21:29] sarmad-tanvir opened #132 "Chromecast not working on iOS"
Chromecast is working on Android but it is not working on iOS. The connection seems to establish but there is no audio or display.

[2021-04-20 21:29] et-nat1995 opened #133 "Prevent playlist automatically switching to next item? Feature request? Lack of functionality from JW player SDK"
Hey there,

I'm not sure if this is something i'm missing, bug or missing feature.

Part of a project I am working on has instructional videos with supplement videos explaining in more detail different parts of the main video. The supplement videos are set up as a playlist using the playlist functionality of JW player. The current behavior of the React Native Player is to load the next item in the

[2021-04-20 21:30] et-nat1995 opened #134 "Prevent playlist automatically loading to next item? Feature request? Lack of functionality from JW player SDK?"
Hey there,

I'm not sure if this is something i'm missing, bug or missing feature.

Part of a project I am working on has instructional videos with supplement videos explaining in more detail different parts of the main video. The supplement videos are set up as a playlist using the playlist functionality of JW player. The current behavior of the React Native Player is to load the next item in the

[2021-04-20 22:30] arsimr16 commented on #128
This is what worked for me:

Save video here for Android: `android/app/scr/main/assets/video.mp4`
Save video here for iOS: `ios/video.mp4`

[code]

[2021-04-20 22:49] arsimr16 commented on #131
What HLS link are you referring to?

[2021-04-21 14:13] #133 closed

[2021-04-23 08:08] #62 closed

[2021-05-08 09:53] krupalikevadiya commented on #8
Can you please guide me it is not worked for me.

[2021-05-08 10:19] krupalikevadiya opened #136 "Background audio does not work in ios."
I also added code into appdelegate.m as per guide and also added backgroundAudioEnabled in playlistItem.Here i attach my code please guide me to play audio in background.

  <JWPlayer
              style={styles.player}
              playlistItem={{
                mediaId: "1",
                file: "https://bitdash-a.akamaihd.net/content/MI201109210084_1/m3u8s/f08e80da-bf1d-4e3d-8899-f0f6155f6ef

[2021-05-12 12:15] chaimPaneth commented on #136
Hi @krupalikevadiya

Did you add `Audio` in `Background Modes` under `Signing & Capabilities`

[2021-05-12 12:35] krupalikevadiya commented on #136
Yes it is solved thanks for reply.

[2021-05-12 16:16] #136 closed

[2021-05-17 10:45] pm-sharma commented on #122
Hey, I am also facing the same issue, @archcorsair @MattHorriganSunrise can you share the solution

[2021-05-18 14:17] chaimPaneth commented on #113
Hi @fvasyliuk

I've pushed this change in version 0.1.54 can you check if it's working for you now.

Thank you.

[2021-05-18 14:18] chaimPaneth commented on #116
Hi @arsimr16 @KestasVenslauskas

I've pushed changes for this in version 0.1.54 I'm calling on startForeground in onCreate while creating a dummy notification until its initialized with the real one.
Can you check if it's working for you now.

Thank you.

[2021-05-18 14:30] chaimPaneth commented on #129
Hi @AzharOfficialGitAccount can you please share more details on this.

[2021-05-18 14:33] chaimPaneth commented on #127
Hi I've upgraded the peer dependencies in the latest version but they might mismatch with what you have installed, for now you can use --force on install.

The library just needs any version of react and react-native installed to work, so the exact match doesn't matter

[2021-05-18 16:24] arsimr16 commented on #116
Thanks for looking into this.  I was never able to reproduce this locally because I don't have one of the Samsung phones this is happening on.  I will update to the latest version in my next app release and let you know if the errors stop.  (We only release about once a month.  We just did a release this weekend, so it'll be about a month until I know if this worked.)

[2021-05-20 15:44] Aalshakhshir opened #140 "Support for JW player beta version 4.0"
Hi ,

Is there any timeline to expect for supporting the native SDK's (both android and ios) with version 4.0 (which is still in beta i believe)

Appreciate it,

[2021-05-26 17:53] pm-sharma commented on #122
Correct way to use

<key>JWPlayerKey</key>
	<string>paste your key here</string>

[2021-05-26 18:10] MattHorriganSunrise commented on #122
Can't use JWPlayer because of this issue @pm-sharma not sure if that solution works with iOS had to change solution/package using `react-native-video`... It's really annoying React Native video players are unstable or if you have an edge case its a little difficult to implement. The OS (Android/iOS) updates often I get its just a little difficult to make sure everything works properly.

[2021-05-27 00:56] archcorsair commented on #122
This is the correct format, the way I have it working in my project:
[code]

[2021-05-28 11:22] Depthol93 opened #141 "IOS One Player instance already working and add other JWPlayer with autostart: true , but Not playing from second player"
Hello , I need 2 instance of JWPlayer . One is Playing proper with autostart: true  , but add other JWPlayer with autostart: true not playing , That player's onPlayerReady onBeforePlay  both methods get called but onPlay was not called and Also not playing Sound for 2nd player.
If I start both player at same time it is Playing properly. But if Start one and second after that Second player is not p

[2021-05-31 05:23] abhishek0705 opened #142 "Error 101104"
I'm getting error 101104. My license key is right. player was working fine earlier but suddenly stopped working on android. Do you have any idea how to get this problem fixed?

![Screenshot_2021-05-31-10-09-36-885_com collabr](https://user-images.githubusercontent.com/39939392/120143740-4c3f4180-c1fe-11eb-86a1-2e4689cd0ad5.jpg)

[2021-06-01 15:58] saurabh-nandan opened #143 "Unable to play all video using JW player"
I am using JW player for playing offline video in react Native app. I have stored video file in device storage and created a static server using react-native-static-server. while i am trying to play video using the player only first video is being played rest of all are not. next time when i reload the app then only one video is playing next is loading for infinite time. Is it storing some cache f

[2021-06-07 19:16] chaimPaneth commented on #91
@escobar022 @shubuu97 This seems as an issue with the theme also can you check the latest build if your issue is resolved.

[2021-06-07 19:19] chaimPaneth commented on #104
@sanjay628 Have you resolved this issue?

[2021-06-07 19:21] chaimPaneth commented on #142
@abhishek0705 from the jw docs this seems as a network error https://developer.jwplayer.com/jwplayer/docs/jw8-player-errors-reference it doesn't have to do with your license.

[2021-06-07 19:22] chaimPaneth commented on #140
Hi @Aalshakhshir I'm planning on implementing the latest SDK once JW fully supports objective - c so I can create the bridges in react native environment

[2021-06-07 22:06] Aalshakhshir commented on #140
Hi @chaimPaneth  appreciate your feedback

thats great,  thanks.

[2021-06-14 19:11] RamboWasReal opened #146 "ExoPlayer"
anybody get this error ?  when i start Video , i get this error

No virtual method setAudioAttributes(Lcom/google/android/exoplayer2/audio/AudioAttributes;)V in class Lcom/google/android/exoplayer2/SimpleExoPlayer;

RN: 0.64.2
RN JW Player: 0.1.57

[2021-06-17 08:14] KestasVenslauskas opened #147 "Player pauses when app goes into background"
Currently using the latest version "react-native-jw-media-player": "^0.1.57",
Using only on Android. I don't have iOS phone on my hand to test that on iOS.

I found this issue that if "autoPlay" is set to TRUE and no user action is required to play the video the player will pause once app goes into the background (home button). But if "autoPlay" is set to FALSE and user has to manually press PLAY

[2021-06-18 06:51] KestasVenslauskas commented on #147
Also if autoPlay is set to TRUE and user manually pressed PAUSE then PLAY again it also works in background

[2021-06-28 23:33] arsimr16 commented on #116
I released an app version with this change a week ago.  So far I've only seen this crash happen three times for one user on a Samsung Galaxy S21 Ultra 5G.  Previously we had an average of over 600 of these errors per day affecting a variety of devices.  So I think it's safe to mark this issue as closed.  Thanks @KestasVenslauskas and @chaimPaneth for your work on this!

[2021-06-28 23:33] #116 closed

[2021-07-28 13:29] bishboi commented on #107
Same Issue

Dependencies:
"react": "16.13.1",
"react-native": "0.63.4",
"react-native-jw-media-player": "^0.1.57"

[2021-07-29 11:28] fvasyliukApiko opened #149 "[ios] adSchedule don't play on iphone"
Hi, I use adSchedule for ads.  Android works fine and playing ads but ios has an issue. When the player should playing ads the player just runs pause and then run play. Could you help me with it? Thanks!

[2021-07-29 11:33] fvasyliukApiko commented on #149
maybe will be helpful https://drive.google.com/file/d/164on3uGtgEVSQC9seGMNFgC10wxDzDk0/view?usp=sharing

[2021-08-05 06:56] cleverbrainz opened #150 "props doesn't pass"
Props doesn't pass like controls={false}, stretching="fill", repeat={true}

[2021-08-05 07:07] cleverbrainz opened #151 "How to reduce the gap between two videos?"
I play the local video files and there is a black screen when playing the next video.
Is it possible to remove this?

[2021-08-06 11:19] fvasyliukApiko opened #152 "[Android] param the "startTime" don't work if has the "adSchedule" param with offset equals 'pre'"
param the "startTime"  don't work if has the "adSchedule" param with offset equals 'pre'

[2021-08-09 10:29] ahtisham-gsoftconsulting opened #153 "on update state mute not working"
mute==false not working

[2021-09-02 08:47] #113 closed

[2021-09-02 16:07] fvasyliuk opened #155 "[ios]the onTime event don't work after call setPlaylistIndex with local files"
Hi, I use the setPlaylistIndex method to change episodes for a playlist. Android works fine but ios don't call onTime event if files are from local storage. When calling pause and call the play method the onTime event starts working fine for the current episode. Could you help me with it? Thanks!

[2021-09-09 02:20] jonathanredford opened #156 "[iOS] Can't find any devices to cast to"
hi @chaimPaneth, first of all, thank you for creating this package.

I am trying to implement version 0.2.0-beta.2 of this library and am having issues getting chromecast working on iOS.

I'm using Xcode 12 and iOS 14 and as per the [Google Cast documentation](https://developers.google.com/cast/docs/ios_sender/permissions_and_discovery), google-cast-sdk >=4.6.0 is required for casting to work prop

[2021-09-28 16:18] CrisRonda opened #157 "Is pip available?"
I am trying use pip, and I follow the instructions to add pip in android and ios.

# How reproduce?
1. install package
2. Create a simple example like this https://github.com/chaimPaneth/react-native-jw-media-player#usage
3. Add `pipEnabled={true}` prop on  `JWPlayer`
4. minimize app, and video  stops

[2021-09-29 01:14] slaymantis opened #158 "iOS example not running"
Hi when I run the example folder I only see a black screen and no video playing
I have added my license
license:
                  Platform.OS === 'android'
                    ? 'uws51uYDy.....'
                    : 'RIwl+QC4eHAznki4tq.....',

The app builds and runs on the phone but I see these runtime errors:
Full log:

2021-09-29 14:11:44.966035+1300 RNJWPlayer[851:125462] GoogleCast framewor

[2021-09-29 17:44] CrisRonda commented on #132
@sarmad-tanvir  did you find a fix for this?

[2021-10-08 02:04] jonathanredford commented on #156
@yksingh12 JWPlayer SDK v4 requires the dynamic google-cast-sdk however Google only hosts the static version on cocoapods.

I had some issues with the GoogleCast.h file not being found by `react-native-jw-media-player` when I followed the manual setup guide: https://developers.google.com/cast/docs/ios_sender#manual_setup

I've managed to get it working by replacing `google-cast-sdk` in this librar

[2021-10-08 04:02] yksingh12 commented on #156
@jonathanredford  Thanks for the explanation!

Can you please submit a PR with the changes? This PR will be helpful for other users who are facing the issue.

[2021-10-08 20:56] CrisRonda opened #159 "(iOS) Error with React navigation v6 (react-native-screen)"
# Error
![image](https://user-images.githubusercontent.com/42586480/136623737-3df7fe47-4f2b-4f53-96b4-21a4666d16d2.png)

# Steps to reproduce
1. Put this code into a file

[code]
2. Install [react navigation](https://reactnavigation.org/docs/getting-started/) v6 (stack or drawer animation)
3. in App.js add
[code]

[2021-10-17 19:15] et-nat1995 commented on #159
Hey @chaimPaneth,

Thank you for the updating the package!

I'm running into this same issue with react navigation v5 and v6.

Followed the new install instructions to update my project to v0.2.1. Added the new config prop with the SDK keys. Ran pod install in the IOS dir.

Getting the same error with the following versions of react native navigation and other core dependencies:
[code]

And this i

[2021-10-18 17:00] KestasVenslauskas opened #160 "interfaceBehaviour prop is not documented"
interfaceBehaviour has no documentation.
Also it's required by the Config type.
But if you pass anything it gives error even if you pass correct value:  "value was expeted one of the ["0", "1", "2"]"

[2021-10-22 17:13] felipegmg opened #161 "RNJWPlayerView must implement the OnMetaListener interface!"
Hello everybody.
I'm having the issue implementing the component. When assigning the config value and rendering the component, I am getting this error described in the title. As can be seen from the config code, I assigned an empty title value to the first element of the playlist array, as an error was occurring in getTitle as soon as the component was rendered. Having fixed this error (workaround

[2021-10-25 09:28] KestasVenslauskas opened #162 "IllegalArgumentException: Cannot add a null child view to a ViewGroup"
There is ongoing crash for the past year that has not been looked at...
It's from crashlytics report. And I don't know how to reproduce this.
This is comming from various devices.

[code]

This is ongoing for more than a year....

[2021-10-25 15:43] #159 closed, assigned to nobody

[2021-10-27 14:20] SafiDS opened #163 "Only First Video is Playing Second Video Not Playing in Android"
I followed all the steps while installing.
ios everything works fine but in android, I can't able to play the second video from the list. audio is coming while playing the second video but the video is not working it shows all the black in the video player.

[2021-10-29 06:52] tara-singh-danu opened #164 "Getting unsupported top level event type "onCast" dispatched"
On Android when I tap on cast icon I get this message
"unsupported top level event type "onCast" dispatched"

"react-native-jw-media-player": "^0.2.3",
@chaimPaneth  Please check.

code at line no. 1003 in RNJWPalyerView.java
getReactContext().getJSModule(RCTEventEmitter.class).receiveEvent(getId(), "onCast", event);
creating this issue

[2021-10-30 23:23] chaimPaneth commented on #161
Hi everyone,

This was fixed on latest version 0.2.2.

Thank you so much.

[2021-10-30 23:24] chaimPaneth commented on #160
Hi @KestasVenslauskas

I've updated the readme, but the crash seems to come from the JW SDK itself, I will ask them about this.

[2021-10-30 23:26] chaimPaneth commented on #150
Hi @cleverbrainz

What version do you have installed?
One the latest version since 0.2.0 we only pass a `config` prop to the player because under the hood JW expects everything on the player in one config object.

Check out the readme.

Thank you very much.

[2021-11-01 18:27] et-nat1995 opened #165 "Getting a 'displayDesc is not defined' error when updating to v0.2.2"
<img width="483" alt="Screen Shot 2021-11-01 at 11 21 38 AM" src="https://user-images.githubusercontent.com/42855538/139721544-9aed36c3-abfd-4ade-802d-a9c8612fcb93.png">

My playlist item looks like this:

[code]

JWPlayerKit version -> 4.1.1

[2021-11-01 18:31] et-nat1995 opened #166 "Hide UI Elements on iOS"
Is there a way to hide the playlist controls on iOS? For example hide the playlist buttons to switch to the next video or go back to the previous video and to hide this UI element?

<img width="32" alt="Screen Shot 2021-11-01 at 11 30 13 AM" src="https://user-images.githubusercontent.com/42855538/139722348-06d16460-9182-4045-9aae-46020d5f59ae.png">

[2021-11-01 18:53] et-nat1995 commented on #165
I think fixing line 425 in index.js in the root directory of this project fixes this issue:
[code]

I'm not sure what this might cause and how this affect the config object or props. In the docs the key is named displayDescription but in this file it's been changes to displayDesc

[2021-11-02 12:32] chaimPaneth commented on #165
Hi guys

Your'e right I pushed version 0.2.3 with this fix.

Thank you.

[2021-11-02 12:32] #165 closed

[2021-11-02 12:33] #161 closed

[2021-11-02 14:52] et-nat1995 commented on #165
Yup no problem! Glad to help!

[2021-11-16 09:25] yksingh12 commented on #156
Hi @jonathanredford, I am sorry to tag you again. Could please help us to resolve this issue by submitting a PR?

[2021-11-22 16:41] yksingh12 commented on #160
Hi @chaimPaneth , It's working fine when you add this in presentPlayerViewController method after setting the configuration.

 if (configuration != nil) {
    [_playerViewController.player configurePlayerWith:configuration];
    _playerViewController.interfaceBehavior = JWInterfaceBehaviorAlwaysOnScreen;
  }

[2021-11-22 17:06] yksingh12 opened #167 "Exit Full screen option visible in iOS while video is playing in non-full screen"
Exit Fullscreen and Enter Fullscreen both options visible the first time. I am using the latest version of this library. When I tap on the Exit Fullscreen button, then this option gets removed.

Lib version - 0.2.3
React Native - 0.66.2

<img width="343" alt="Screenshot 2021-11-22 at 10 32 47 PM" src="https://user-images.githubusercontent.com/23474287/142903846-049b0364-2d97-4eb4-836f-14a58bdd99ba

[2021-11-24 07:37] tara-singh-danu commented on #164
@chaimPaneth Please check...

[2021-12-08 08:08] chaimPaneth commented on #160
Hi @yksingh12

Thank you, your solution works!
I've committed this change and will release it in the coming version.

[2021-12-08 08:08] #160 closed

[2021-12-08 08:10] chaimPaneth commented on #111
Hi @fvasyliuk

Can you please check on latest version.

Thank you,
Chaim

[2021-12-08 08:11] chaimPaneth commented on #117
Hi @Julious1994 && @felipegmg

Can you guys check on the latest version.

Thanks.

[2021-12-08 08:11] chaimPaneth commented on #121
Hi @jjc297

Can you check on the latest version, JW added the cast button to the native player so it will be there.

Thanks.

[2021-12-08 08:13] chaimPaneth commented on #123
Hi @marcinkieruzel

Can you check latest version.

Thanks.

[2021-12-08 08:13] chaimPaneth commented on #131
Hi @sarmad-tanvir

How about the latest version do you still have those issues.

Thanks.

[2021-12-09 03:58] bryanhjordan commented on #163
Hey @SafiDS did you fix this?

[2021-12-09 05:35] SafiDS commented on #163
@bryanhjordan  No

[2021-12-14 13:15] chaimPaneth commented on #163
@SafiDS

Can you share some of your code for the `<JWPlayer />` also what version of this library are you running?

Thanks

[2021-12-18 08:22] razorRun opened #168 "Player: Play icon does not appear in the centre and other controls are not visible"
The player starts playing in Landscape mode. but the play icon does not appear in the centre and unable to see the seek bar and other controls.

Quick video
![ezgif com-gif-maker (1)](https://user-images.githubusercontent.com/21232912/146634698-fd417be6-2568-4c76-93d0-e6ee447a7de3.gif)

[2022-01-20 11:34] bipin-ta opened #169 "[iOS] Google IMA ads playing in background in iOS"
I am passing the ad URL like below in the config prop
[code]

The ad gets played and displayed in android but in iOS, the ad video is not visible. It gets played in the background. Once the ad video completes the actual video starts to play.

Please suggest any solution.

[2022-01-21 14:59] manamelacedric opened #170 "Get index instead of event on the onPlaylistItem"
Hi,
Is there a way to get the playlist item index instead of the event when the `onPlaylistItem` event fires?
I have looked everywhere and I cant find anything

[2022-01-21 15:11] manamelacedric commented on #170
found this under `event.nativeEvent`

[2022-01-21 15:11] #170 closed

[2022-01-27 04:57] Karunamoorthy-tringapps opened #172 "[iOS] Google IMA ads are getting crash only IOS"
There is one I am getting crashed only ios when I initialize the ad URL in JWPlayer.

[code]

[code]

[2022-01-28 23:51] sadiefp commented on #49
Is DRM supported?

[2022-02-03 09:42] stepas-dev opened #173 "Seekbar on live videos"
When opening live video url, the seek bar at the bottom is missing is this intended is there any way to enable it ?

[2022-02-16 00:16] cheynewallace opened #174 "Error Rendering Player - should have parent view controller:<RNSScreen> but actual parent is:<UIViewController>"
We have been stuck with this annoying problem for days and we're totally out of ideas, im pretty sure the solution is something simple.

Essentially we have the component working, although only under the condition that it's nested within a `ScrollView`,  the second we remove the `ScrollView` and just wrap the component in a standard `View` we get this error.

```Exception thrown while executing UI

[2022-02-16 07:43] cheynewallace commented on #174
Worth pointing out that I found this issue, althoug the suggested fix does not solve the issue.

https://github.com/chaimPaneth/react-native-jw-media-player/issues/159

[2022-02-18 15:59] hiscc commented on #174
same issues, but i solved this by replace **createStackNavigator** with **createNativeStackNavigator**

like this

❌
import { createStackNavigator } from '@react-navigation/stack'
const Stack = createStackNavigator()

✅
import { createNativeStackNavigator } from '@react-navigation/native-stack'
const Stack = createNativeStackNavigator()

[2022-02-18 20:51] cheynewallace commented on #174
Thanks for that info,
It looks like all of our navigators are already using `createNativeStackNavigator` unfortunately (I was excited this was finally the solution),  but at least that does feel like its something to do with the navigator and not elsewhere.

Would you be able to post a sample of your code at all @hiscc ?  We're totally stuck still and I can't figure out why.  Im wondering if there

[2022-02-20 23:13] cheynewallace commented on #169
You find a solution to this one at all?  We are seeing the same problem

[2022-02-21 00:37] cheynewallace commented on #174
For anyone hitting  this error, I managed to solve the issue, it was related to navigation and re-rendering.
We were navigating to new pages which loaded new video players, but also changing the config passed into the player using `useState` which subsequently re-rendered the player, that combined with the page navigation seemed to throw it off.
We solved the issue by essentially rendering the pag

[2022-02-21 01:00] cheynewallace opened #176 "AdSchedule Throwing Exception: cannot init a class object"
I've been trying to get the AdSchedule to work (or any ads for that matter) however im getting an instant crash with the following error

```Exception thrown while executing UI block: *** +[JWPlayerKit.JWAdBreak<0x11045bae8> init]: cannot init a class object.```

I've read through all the previous examples and issues and literally copy and pasted apparently working code (from https://github.com/ch

[2022-02-21 05:08] bipin-ta commented on #169
No @cheynewallace, we are still struggling...

[2022-02-23 07:38] manamelacedric opened #177 "How to hid PIP icon?"
Hi @chaimPaneth, How do I hide the pip icon? I have tried setting the `pipEnabled={false}` on the player and also on the config but it doesn't work. Clicking the pip icon on android crashes the app and on IOS it does nothing. I just wanted to get rid of it. here is my config
[code]

[2022-02-25 08:05] waseem-devhutch opened #178 "example with v3 . can you update example"
@chaimPaneth  example with  v3 . can you update example

[2022-02-28 06:37] chaimPaneth commented on #173
Hi @stepas-dev

This is the intended behavior on live events.

(The future has not been and the past is already gone, you only got the present :-)

Thanks,
Chaim

[2022-02-28 06:37] #173 closed

[2022-02-28 08:46] waseem-devhutch opened #179 "can we use this with flat list like tiktok app"
can we use this with flat list like tiktok app . or can you recommend any other player for playing video like tiktok app
@chaimPaneth

[2022-03-15 07:32] artfullsoul-dj opened #183 "Invariant Violation: requireNativeComponent: "RNJWPlayerView" was not found in the UIManager."
I integrated the player in the same way as in doumentation but this issue is comming while running the app.

Invariant Violation: requireNativeComponent: "RNJWPlayerView" was not found in the UIManager.

This error is located at:
    in RNJWPlayerView (created by JWPlayer)
    in JWPlayer (created by App)
    in RCTView (created by View)
    in View (created by App)
    in RCTView (created by View

[2022-03-15 16:00] kundarmah commented on #183
Kindly rebuild the app after installing the library

[2022-03-15 17:53] felipegmg opened #184 "onControlBarVisible's arguments doesn't match with doc"
The onControlBarVisible arguments do not match the doc. In the doc the argument is `{nativeEvent: {visible: boolean}}`, but in the code the argument for nativeEvent is `controls` and even then this value doesn't match the true value

[2022-03-17 05:50] MAhtishamShahzad opened #187 "set volume for ios"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `react-native-jw-media-player@0.2.9` for the project I'm working on.

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/issues/296).</em>

[2022-03-17 08:38] Qmparket commented on #172
Hi, I also got that issue a couple of days ago. For me what fixed it was to add inside RNJWPlayerView this code:
- (void)jwplayer:(id<JWPlayer>)player updatedCues:(NSArray<JWCue *> *)cues {}
Hope this helps you

[2022-03-22 08:20] puneetkansal04 commented on #128
@arsimr16  This is not worked for me

[2022-03-22 08:21] puneetkansal04 commented on #128
@arsimr16 i want to download .m3u8 playlist locally then i have to play it. So please let me know if you have idea to make it.

[2022-03-22 10:09] Rishabh6211 commented on #128
@puneetkansal04  I used two lib for download the m3u8 file ,
Rnfs and React native background downloader

[2022-03-22 11:22] puneetkansal04 commented on #128
@Rishabh6211 okay i will try with it. But at this time i am having a folder and i am giving it's location m3u8 location. But it is not playing video from local folder.

[2022-03-22 16:23] puneetkansal04 commented on #128
@Rishabh6211 as i am able to check with this server i can access folder from my project bundle. But the thing is i want to download videos in the app like. So multiple videos in the app on mobile storage. So i have to access that from the storage location and play it. How will i do this?

[2022-03-23 04:40] Rishabh6211 commented on #128
Yeah I already suggested that you can easily download multiple file in loop using that lib.
Rnfs and React native background downloader.
If you faced any issues you can wtsapp me 8707025813.
Hope I will help you.

[2022-03-29 19:39] chrisdugne opened #189 "sdk4 mediaTracks / tracks"
Hello,

From your [docs](https://github.com/chaimPaneth/react-native-jw-media-player#playlistitem) we need to use `playlistitem.tracks`

so I tried:
[code]

and got (for iOS) `Exception thrown while executing UI block: *** +[JWPlayerKit.JWMediaTrack<0x1109417a0> init]: cannot init a class object.
`

I found then from JWPlayer migration, this field seems to have changed to [mediaTracks](https://dev

[2022-04-01 15:50] Onibenjo opened #190 "Is the sdk key compulsory to use the player?"

[2022-04-04 08:04] linaraupov opened #191 "MKV format not playing"
how to play MKV videos?
video example: http://evimtv.com:4512/series/jury/opeAtUCQG2/116704.mkv

[2022-04-04 11:49] chaimPaneth commented on #189
Hi @chrisdugne

I fixed this issue in current latest version 0.2.11

Thank you,
Chaim

[2022-04-04 11:49] #189 closed

[2022-04-04 11:52] chaimPaneth commented on #187
Hi @MAhtishamShahzad

I fixed this in current latest version 0.2.11

Thank you,
Chaim

[2022-04-04 11:52] #187 closed

[2022-04-04 11:56] chaimPaneth commented on #177
Hi @manamelacedric

In latest version 0.2.11 there is a new object `allowsPictureInPicturePlayback: boolean` on the `config` prop you might wanna check it out.
This was introduced in the latest [jw ios sdk](https://releases.jwplayer.com/ios-sdk/?id=62627591)

[2022-04-06 17:17] chrisdugne commented on #189
great, thank you!

[2022-04-08 10:32] chrisdugne opened #194 "cannot find protocol declaration for 'JWPlayerViewDelegate';"
Hello,

- I updated to RN 67
- Using XCode 13.0
- I'm using `v0.2.10`, I tested and got the same issue with `v0.2.12`

now building with

[code]

I hit many `cannot find protocol declaration` errors like:

[code]

## notes:

- building for `-sdk iphoneos` is working properly
- tested with `RN 64`, and `RN 66`: building with `-sdk iphonesimulator` is working properly (`v0.2.10`)
- I've no such erro

[2022-04-12 22:08] chaimPaneth commented on #172
Hi @Karunamoorthy-tringapps @Qmparket

I added the proposed fix in latest versions.

Thank you,
Chaim

[2022-04-12 22:08] #172 closed

[2022-04-13 06:57] wimil opened #195 "cutom header for m3u8 files"
how can i add headers to m3u8 files ?

[2022-04-19 06:10] HarishJangra opened #196 "[ios] video player keeps playing video in background even after component unmounts"
When I fullscreen the jwplayer and reset to normal and go back unmounting the component doesn't stop the video and does not unmounts the player.
The video keeps playing in the background.

Does anyone face the same issue?

[2022-04-19 09:17] Onibenjo commented on #190
Is it?

[2022-04-24 12:00] chaimPaneth commented on #196
@HarishJangra

Can you try latest version 0.2.14, the issue was that I had a strong reference to the playerViewController parent and it caused the controller to not dealloc.

Let me know,
Thanks.

[2022-04-24 12:05] chaimPaneth commented on #194
Hi @chrisdugne

I had this issue seems that clearing cache doesn't work, what I did was update my project to RN version 68 and it compiled.

[2022-04-25 12:17] KestasVenslauskas opened #198 "[ios] controls not visible"
I'm upgrading from 0.1.57 to 0.2.14
Everything works fine on Android. But on iOS it does not show any controls.
`player.setControls(true);` also does not work.

Also image is not visible for audio content while on Android it works as expected.

my config:

[code]

Also the component has config prop as true

[code]

EDIT:
player.setControls(true) does not work on iOS because [this if statement](htt

[2022-04-25 14:35] KestasVenslauskas opened #199 "Typescript: Config missing props"
`enableLockScreenControls`
and
`pipEnabled`

Is missing in Config type.

[2022-04-26 03:55] ppark-jwp commented on #190
yes, you can get a free trial account for 30 days.
https://info.jwplayer.com/sign-up/

[2022-04-27 13:33] chrisdugne commented on #194
ok thanks for the input @chaimPaneth , I'll try and let you know.

[2022-04-28 08:52] #190 closed

[2022-04-30 09:02] chrisdugne commented on #194
Hello, still the same issue with RN68 on my side :(

[2022-05-03 15:53] chaimPaneth commented on #194
Hi @chrisdugne

Did you see those issues [32432](https://github.com/facebook/react-native/issues/32432) & [834#issuecomment-605448785](https://github.com/facebook/flipper/issues/834#issuecomment-605448785)

Seems like the one we got,
Lemme know.

[2022-05-04 03:10] chowkapo opened #200 "onTime event not fired in iOS"
I use the Example project and fill in the license key. I can build and run it, but the onTime event is not fired at all while the video is playing. Does it require any other configuration to make it work?

[2022-05-04 18:13] chrisdugne commented on #194
Hi @chaimPaneth
the issue you pointed seems not the same as this one here;

I finally got my build working by specifying the arch:

working example:
[code]

[2022-05-04 18:13] #194 closed

[2022-05-04 19:17] chaimPaneth commented on #194
Wow Thanks @chrisdugne

I just got this issue before and this fixed it for me!

I'm adding a screenshot on how to change those values in xcode itself ->

<img width="750" alt="Screen Shot 2022-05-04 at 9 55 26 PM" src="https://user-images.githubusercontent.com/20083971/166809520-12508c61-ec01-4d90-af57-d666ab9ce54f.png">

Thanks.

[2022-05-05 19:41] chaimPaneth commented on #179
Hi @waseem-devhutch I've updated the example app to show a list of players and how to use it.
Check it out and lemme know.

Thanks,
Chaim

[2022-05-05 19:41] #179 closed

[2022-05-05 19:44] chaimPaneth commented on #147
Hi @KestasVenslauskas

This issue was fixed in latest versions.

Thanks.

[2022-05-05 19:44] #147 closed

[2022-05-05 19:44] #24 closed

[2022-05-05 19:45] chaimPaneth commented on #49
Hi @nlabofa, @sadiefp

DRM is supported in latest versions.

Thanks.

[2022-05-05 19:45] #49 closed

[2022-05-05 19:47] chaimPaneth commented on #96
Hi @et-nat1995

In the new JWPlayer SDK v4 the player comes with 15 sec rwd / fwd buttons.

[2022-05-05 19:47] #96 closed

[2022-05-05 19:49] chaimPaneth commented on #141
Hi @Depthol93

Can you try with the latest version of the lib and lemme know.

Thanks,
Chaim

[2022-05-05 20:03] chaimPaneth commented on #143
Hi @saurabh-nandan , @vyomGupta736,

Can you guys try with the latest version I've also added in the example app a list with players to test this use case.

Thanks,
Chaim

[2022-05-09 12:31] KestasVenslauskas opened #201 "Android issue with version <= 0.2.x"
This issue is on version  0.1.57

Before 0.2.x version this lib uses JW player SDK v3.
But the latest SDK version "3.20.2" crashes with NoSuchMethodException on Android in this implementation.
So you have to specify jwplayerVersion in .gradle file

`jwplayerVersion = "3.20.1"`

I did not fully update to 0.2.0 because of remaining issues for iOS. Hope it will be fixes soon!

[2022-05-11 14:35] chaimPaneth commented on #184
Hi @felipegmg

Can you check in latest version.

Thank you,
Chaim

[2022-05-11 14:35] #199 closed

[2022-05-11 14:36] chaimPaneth commented on #200
Hi @chowkapo

I fixed this in the latest version 0.2.17

Thank you very much,
Chaim

[2022-05-11 14:36] #200 closed

[2022-05-13 09:38] KestasVenslauskas commented on #177
@chaimPaneth @manamelacedric Fixed this one here https://github.com/chaimPaneth/react-native-jw-media-player/pull/203

[2022-05-19 17:47] stomataln opened #204 "Multiple issues with the latest release 0.2.18 (iOS)"
Multiple issues, first of all, in README.md
`const config = {
  license:
    Platform.OS === 'android'
      ? 'YOUR_ANDROID_SDK_KEY'
      : 'YOUR_IOS_SDK_KEY',
  backgroundAudioEnabled: true,
  autostart: true,
  styling: {
    colors: {
      timeslider: {
        rail: "0000FF",
      },
    },
  },
  playlist: {
    [playlistItem],
  },
}`
I think you meant
`playlist: [playlistItem]`

in RNJW

[2022-05-20 13:38] KestasVenslauskas commented on #204
I meantioned a fix for pre 0.2.x versions here:
https://github.com/chaimPaneth/react-native-jw-media-player/issues/201

But I do agree that there is a lot of issues with this on iOS

[2022-05-20 13:39] KestasVenslauskas opened #205 "Build errors with M1"
Was trying to update my project to be compatible with M1 chip.
Passed many errors with different libraries but now I'm just stuck with this one.

There is a lot of errors building this project as a dependency with M1:
<img width="1252" alt="Screenshot at May 20 16-30-01" src="https://user-images.githubusercontent.com/52245569/169540245-fb223b5a-9666-4195-8444-bed507b2391e.png">

[2022-05-20 17:09] stomataln commented on #204
@KestasVenslauskas yeah the ticket you created helped me.
I was using 0.1.55, which doesn't have jwplayerVersion.
I have to change the version in the build.grade (of this library) from
`. implementation 'com.longtailvideo.jwplayer:jwplayer-core:+'
    implementation 'com.longtailvideo.jwplayer:jwplayer-common:+'
    implementation 'com.longtailvideo.jwplayer:jwplayer-ima:+'
    implementation 'com

[2022-05-22 18:14] chaimPaneth commented on #205
Hi @KestasVenslauskas

Seems like it's related to this issue https://github.com/chaimPaneth/react-native-jw-media-player/issues/194

Can you confirm?

Thanks

[2022-05-22 18:21] chaimPaneth commented on #204
Hi @stomataln

Thanks for catching those errors I will fix it in the next release, don't tell anyone :-) but I've never used the `sources` prop only the `file` prop so I missed this... we will do better :-)

Chaim

[2022-05-23 10:31] KestasVenslauskas commented on #205
@chaimPaneth If I follow those steps other libraries starts to break... :/

[2022-05-23 10:35] KestasVenslauskas commented on #198
No update on this? Does others manage to get controls on the iOS?

[2022-05-23 10:41] chaimPaneth commented on #205
@KestasVenslauskas If you remove this library do you get a successful build?

[2022-05-24 06:44] HarishJangra commented on #196
@chaimPaneth I tried again and the issue is still not fixed.

steps to reproduce

- make 2 screens
- navigate to the player screen
- come back to the previous screen
- rotate the device
- the player is still visible.

[2022-05-24 21:04] chaimPaneth commented on #198
@KestasVenslauskas can you provide a screenshot of the player and some code of the player configuration.

Thanks.

[2022-05-24 21:05] chaimPaneth commented on #205
@KestasVenslauskas We'll discuss further in this issue about ios controls https://github.com/chaimPaneth/react-native-jw-media-player/issues/198

Thanks.

[2022-05-24 21:05] #205 closed

[2022-05-25 08:00] KestasVenslauskas commented on #198
This is my player implementation for v0.2.x:
https://github.com/lrtlt/mobile/blob/jw-player-update/app/components/videoComponent/JWPlayerNative.tsx
This is an open source project I'm maintaining you can freely clone repo.
Update is on `jw-player-update` branch, if you are on M1 chip then use `m1-compat-light` branch.

[2022-05-25 08:33] KestasVenslauskas commented on #198
Here is the iOS player for video (no controls):
![Simulator Screen Shot - iPhone 13 - 2022-05-25 at 11 12 02](https://user-images.githubusercontent.com/52245569/170218084-44b2119d-63f0-4163-b4b8-da4d940ea3ff.png)
Here is the Android player for video (with controls):
![Screenshot_20220525_113002](https://user-images.githubusercontent.com/52245569/170218211-d57a216e-bb54-4a66-9c70-1536a6930f52.png)

[2022-05-25 11:29] chaimPaneth commented on #198
@KestasVenslauskas I think your issue is that your passing `viewOnly: false` while in the code i don't check `viewOnly == true` only if `viewOnly != nil`; my mistake I will fix it, but try to just not pass `viewOnly` at all it should render the playerViewController I think / hope

Lemme know

[2022-05-25 11:44] KestasVenslauskas commented on #198
If I remove "viewOnly" param I get this error (audio playing in the background):
![Simulator Screen Shot - iPhone 13 - 2022-05-25 at 14 43 29](https://user-images.githubusercontent.com/52245569/170254404-55a3dbd0-2398-4ece-8f28-03a097c666e7.png)

[2022-05-25 17:02] chaimPaneth commented on #198
I will check out the last crash but there is another issue about this here https://github.com/chaimPaneth/react-native-jw-media-player/issues/174 I'll reopen the discussion there about this

[2022-05-25 17:02] #198 closed

[2022-05-25 17:08] chaimPaneth commented on #174
For anyone experiencing this issue here is more info that might help you ->

I only get this issue while fast refresh is on and I'm making changes on the fly causing the player page to reset itself multiple times, but I think the issue comes from the fact that we're loading a native UIViewController outside the scope of the react native view stack when loading the PlayerViewController, as it's a c

[2022-05-25 20:04] chaimPaneth commented on #174
This is directly because the viewOnly prop as of now true or false renders a view only player without controls while without it a PlayerViewController is rendered that contains the player controls and once the View controller is added you get the above issue.

[2022-05-30 19:23] danimarin commented on #174
Could this be a clue: https://github.com/wix/react-native-controllers ?

[2022-05-30 19:41] KestasVenslauskas commented on #174
This look far from solution.

[2022-05-30 19:45] KestasVenslauskas commented on #174
@chaimPaneth Also have you tried adding a delay?
https://stackoverflow.com/questions/60708325/child-view-controller-should-have-parent-view-controller-but-actual-parent-is-u

[2022-05-30 20:15] KestasVenslauskas commented on #174
@chaimPaneth
There is also few warning from iOS native code before crash happens... Hope that helps:
[code]

[2022-05-30 21:02] KestasVenslauskas commented on #174
@chaimPaneth
I managed to fix the problem, but I'm on a different mac and can't create PR at the moment.
Here is the fix in `RNJWPlayerView` (commented lines are the ones I have changed):

[code]

I hope this is a proper fix because I have 0 knowledge about iOS & objective-c programming. This is just something I googled out, but at least it does not crash and controls are visible.

[2022-05-31 08:19] danimarin commented on #174
Well done @KestasVenslauskas ! It works for me ;)

[2022-05-31 17:31] chaimPaneth commented on #204
Closing in favor of https://github.com/chaimPaneth/react-native-jw-media-player/releases/tag/0.2.19

[2022-05-31 17:34] chaimPaneth commented on #168
Hi @razorRun is this still an issue on the latest version https://github.com/chaimPaneth/react-native-jw-media-player/releases/tag/0.2.19?

[2022-06-01 12:56] KestasVenslauskas opened #206 "landscapeOnFullScreen & fullScreenOnLandscape don't work on iOS"
As title say:
[code]

makes no difference it defaults to true on iOS even if debugging config says it's set to '0'

[2022-06-01 13:06] KestasVenslauskas opened #207 "Android back button does not minimize player"
If you are looking at fullscreen video on android and press back button player goes black (but still shown fullscreen black screen). That's because navigation goes down the backstack and player view is not present any more. You can also press back again to shut down the app, but the fullscreen video remains untill it's shutdown.

[2022-06-01 13:16] KestasVenslauskas commented on #207
For others if this may help there is quick workaround:
[code]

[2022-06-02 13:38] KestasVenslauskas commented on #207
Made a PR for this fix: https://github.com/chaimPaneth/react-native-jw-media-player/pull/209

[2022-06-03 05:17] dinhhien2006 opened #210 "Can't controls app when exiting PiP mode on Android"
On Android after exiting PIP mode, my app got stuck in video fullscreen mode and couldn't go back to normal. The control buttons didn't show up on fullscreen mode.

[2022-06-06 00:14] chaimPaneth commented on #207
Merged

[2022-06-06 00:14] #207 closed

[2022-06-14 11:28] KestasVenslauskas opened #211 ""autostart:false" does not work on iOS"
autostart: false flag does not work on iOS, player still starts automatically.
On Android it works as expected.

Also tried not settings autostart flag at all. But the issue remains the same.

[2022-06-16 18:21] kunalpatel opened #212 "setFullscreen method not found"
I am trying to play jwplayer video. I have set reference of jwplayer object using below code

 const [config, setConfig] = useState()

var jwplayer ;

  const setupNormalVideo = () => {
    let playList = {
      file:url,
      description :"Testing"
    }

    let config = {
      license : licenseKey,
      autostart : false,
      playlist:[playList],
      fullScreenOnLandscape:true,
    }

[2022-06-22 10:33] nateshmbhat opened #213 "upgrade exo player to 2.17.1"
From 2.16 to 2.17 , many api changes have happened in exo-player. Please add support for exo player 2.17 so that other RN libraries which are using 2.17 version of exo-player, can also work with this.

[2022-06-22 11:48] stachu2k commented on #206
The same issue here. Setting fullScreenOnLandscape makes no difference on iOS. It's always true.

[2022-06-22 13:33] nateshmbhat opened #214 "Can we use this library just to play mp3 audio and not a video?"
can we use this library as an audio player for certain use cases?

[2022-06-23 09:01] nateshmbhat opened #216 "type defs in the latest version of library do not match the types mentioned in README documentation"
i am using jw player version :  0.2.20

type defs in the library code doesn't seem to match with types in the doc.
one such example of type mismatch is : onTime callback is expected give the event in the callback as per the docs.
By the type definitions say that onTime has a type of `()=>void`.

which one is the correct behavior ?

[2022-06-24 20:50] MirandaDB opened #217 "CocoaPods could not find compatible versions for pod "google-cast-sdk""
CocoaPods could not find compatible versions for pod "google-cast-sdk":
  In Podfile:
    RNJWPlayer (from `../node_modules/react-native-jw-media-player/ios`) was resolved to 0.2.20, which depends on
      google-cast-sdk (~> 4.7.0)

Specs satisfying the `google-cast-sdk (~> 4.7.0)` dependency were found, but they required a higher minimum deployment target

[2022-06-25 10:00] nateshmbhat opened #218 "loadPlaylist function is undefined in the jwplayer reference"
As per docs and the type defs, loadPlaylist is supposed to load a new playlist array, this function is undefined in the current version of jw media player (2.2.0)

[2022-06-29 19:15] MirandaDB commented on #217
My solution was to install a newer version of Xcode

[2022-06-30 00:11] chaimPaneth commented on #214
Hi @nateshmbhat sure, you can even just not give any width / height to the player and it will just play the track while hidden (no width and height).

Lemme know if you managed.

[2022-06-30 00:12] chaimPaneth commented on #218
Hi @nateshmbhat I removed it from the docs, it was leftover from previous versions.

Thanks.

[2022-06-30 00:12] #218 closed

[2022-06-30 01:34] nateshmbhat commented on #218
@claimPaneth is there a way to load a Playlist imperatively?

I tried rerendering with new value of Playlist but it didn't work unless
the whole component was remounted with the new value of Playlist.

On Thu, 30 Jun, 2022, 5:43 am chaimPaneth, ***@***.***> wrote:

[2022-06-30 10:42] nateshmbhat opened #219 "file property not coming in ios in the onPlaylistItem callback"
without file property we don't have a way to know the url which is being played.

[2022-07-03 23:12] chaimPaneth commented on #219
Hi @nateshmbhat

This is because JW considers the `file` as the default source in the `sources` configuration so your file will be contained in `sources`, that said I exposed the `file` prop in the callback using the default source in the coming version.

[2022-07-04 05:35] nateshmbhat commented on #219
I think you forgot to document this. That's why so much confusion.

[2022-07-06 09:44] nateshmbhat opened #220 "On onPlaylistItem is giving a different object with different properties in android and ios"
In android, the onPlaylistItem gives an generic event object and i have to access the playlist item like shown below :

[code]

Notice that the event.nativeEvent is a plain json string and not an object and also the properties in this json start with the prefix : "m"

As per the docs the object sent by onPlaylistItem callback should be a PlaylistItem object.

[2022-07-06 09:46] nateshmbhat commented on #219
in IOS, the `sources` property is missing from onPlaylistItem callback object.

[2022-07-06 09:57] #214 closed

[2022-07-06 09:58] nateshmbhat commented on #214
For local files , i needed prefix with the "file:///" protocol in ios for it to play without issues.

[2022-07-07 11:30] nateshmbhat opened #221 "On iOS, once the player is stopped, onBuffer is being called."
When the player is stopped by calling the jwplayerRef.stop() , the player stops and calls the onBuffer callback sometimes.

[2022-07-07 11:36] nateshmbhat opened #222 "in iOS, audio not playing after removing and remounting jwplayer"
on iOS, sometimes when the JWPlayer component is removed and remounted, it doesn't play the audio and just keeps loading in buffering

[2022-07-07 11:47] nateshmbhat opened #223 "playerRef().position() returns 0 in iOS"
playerRef().position() returns the current audio position in android but returns 0 in ios.

[2022-07-14 07:04] vaibhaw-innoraft opened #225 "Getting error 'Value for adSchedule cannot be cast from ReadableNativeArray to ReadableNativeMap'"
I am using version 0.2.22
When passing below object
`advertising = {
      adSchedule: [
        {
          tag: 'https://pubads.g.doubleclick.net/gampad/ads?slotname=/124319096/external/ad_rule_samples&sz=640x480&ciu_szs=300x250&cust_params=deployment%3Ddevsite%26sample_ar%3Dpremidpost&url=https://developers.google.com/interactive-media-ads/docs/sdks/html5/tags&unviewed_position_start=1&output=x

[2022-07-14 08:56] MichelNassarleb opened #226 "Error while updating property playlistItem of a view managed by:RNJWPlayer"
Whenever  I add file to playlistItem prop for the JWPlayer, it breaks down(using version 0.1.52)
https://www.npmjs.com/package/react-native-jw-media-player/v/0.1.52

import React, { FC, LegacyRef, Ref } from "react";
import { View } from "react-native";

import JWPlayer, { PlaylistItem } from "react-native-jw-media-player";
import styles from "./styles";

export interface JWVideoPlayerProps {
  fi

[2022-07-14 09:37] chaimPaneth commented on #78
This was added in latest versions.

[2022-07-14 09:37] #78 closed

[2022-07-14 09:38] chaimPaneth commented on #164
This was fixed in latest versions.

[2022-07-14 09:38] #164 closed

[2022-07-14 09:38] chaimPaneth commented on #150
Closing due to inactivity.

[2022-07-14 09:38] #150 closed

[2022-07-14 09:39] chaimPaneth commented on #128
I've added a local file example in the example project.

[2022-07-14 09:39] #128 closed

[2022-07-14 09:45] chaimPaneth commented on #183
Hi @lopongoaca

Did you did you follow the installation instructions ->
- npm install react-native-jw-media-player --save
- cd ios && pod install
- reopen your .xcworkspace (white icon no the blue .xcodeproj)
- rerun project

If yes can you please share your code where you render the player, and check out the example app for reference.

Keep me updated please,
Thank you,
Chaim

[2022-07-14 09:52] MichelNassarleb commented on #226
This was a re-opened project made 2 years ago. I just now updated to the latest version and made the changes needed. I started getting "requireNativeComponent:"RNJWPLayerView" was not found in the UIManager."
Mainly cause my app build is failing after installing the latest version
![image](https://user-images.githubusercontent.com/95963307/178955512-4e9d3035-21bb-4337-ac91-59d0b595b071.png)

[2022-07-22 12:32] darrylhebbes opened #227 "Readme should mention JWPlayer is not open source"
Readme should mention that JWPlayer is not open-source, and that this solution wraps a paid service.

[2022-07-26 09:13] bajajshubh opened #228 "DRM in ios not working"
DRM in ios is not working. Example is also not working for ios. Error shows: Unable to play video due to technical error.

[2022-07-27 09:27] nateshmbhat opened #229 "How to load a new file while the player is already mounted in the same screen"
The example app just shows the player being used in a screen with hardcoded urls. When going to another screen, the component is unmounted.

How do i change the audio or video to be played while the jwplayer is mounted (without unmounting and remounting with different value of "config" which sometimes causes crash in ios)

[2022-07-28 01:30] bobbychan commented on #162
Same here
[code]

[2022-07-28 05:26] nateshmbhat opened #231 "Make all player actions Promise based"
Player actions like "stop" , "play" , "pause" , "seekTo" etc , should return a promise so that any actions that needs to be performed synchronously after a previous action can be done properly.

Also sometimes without having a promise based way, multiple actions end up running at a time while the previous one is still being processed by JWPlayer native library and it would cause a crash or some ot

[2022-07-29 06:21] #226 closed

[2022-08-03 10:37] owais-star opened #233 "[iOS] RNJWPlayer is not getting installed on pod install"
i Created a new RN project ran the android worked fine, but when i wanted to run ios i did cd ios and then ran pod install, pod installed all packages except RNJWPlayer (0.2.24), thats why the app was not working and giving this error:

ERROR: Invariant Violation: requireNativeComponent: "RNJWPlayerView" was not found in the UIManager.

This error is located at:
    in RNJWPlayerView (at react-nat

[2022-08-05 04:13] bobbychan opened #234 "[Android]android.app.ForegroundServiceDidNotStartInTimeException"
version:0.2.23
[code]

[2022-08-05 06:59] owais-star commented on #183
[iOS] RNJWPlayer is not getting installed on pod install #233
@chaimPaneth i belive this issue is not reproducable in the react-native-version of the example app, i have tested in the versions (react-native 0.68.2 & 0.69.3) they are above the react-native version of the example app and in these versions when we do pod-install the RNJPlayer and GoogleCast packages are not installed in Pods thats'wh

[2022-08-09 10:45] chaimPaneth commented on #229
Hi @nateshmbhat

We have some apps that requires this exact use case and what we do is we load the player outside of the navigation e.g.

[code]

And make use of redux etc to manage the player.

So even if the current screen unmounts the player is still mounted till we decide to unmount it with redux etc.

Does this help?

[2022-08-11 01:34] bobbychan opened #235 "[Android]java.lang.NullPointerException: Attempt to invoke virtual method 'android.view.ViewParent"
version:0.2.25
[code]

[2022-08-11 20:15] sadiefp commented on #228
@bajajshubh fyi although DRM code went live, it was never working. This is the PR that added it, but it was just a work in progress when it went in: https://github.com/chaimPaneth/react-native-jw-media-player/pull/175

[2022-08-18 09:13] yksingh12 commented on #164
@chaimPaneth I am getting the same error in the latest version of library 0.2.25. Can you please check again?

"Unsupported top level event type "onCasting" dispatched"

[2022-08-18 10:27] yksingh12 commented on #164
Replaced "onCasting" with "topCasting" to fix the crash in RNJWPlayerView.java file

getReactContext().getJSModule(RCTEventEmitter.class).receiveEvent(getId(), "topCasting", event);

[2022-08-22 23:28] chaimPaneth commented on #228
Hi @bajajshubh

Can you please show the error you get in the example app for drm.

[2022-08-23 12:11] marc-slashmobility commented on #225
@vaibhaw-innoraft same happened to me, solved it by using the adVmap property instead (if you can get a vmap for your ads). It must be added to the config object like so:

`advertising: {
      adClient: my_Client,
      adVmap: my_Vmap
},`

This is just a work around, this issue needs to be fixed.

[2022-08-27 07:00] safwanchundakkadan opened #238 "hide full screen button"
how can it be possible to hide my fullscreen button from my JWPlayer

[2022-09-07 16:10] marc-slashmobility commented on #233
Same here on RN 0.69.4, did you fix it??

[2022-09-07 16:12] marc-slashmobility commented on #183
Same happening on RN 0.69.4, is there any kind of fix for this??

[2022-09-21 14:00] danimarin commented on #233
Hi, I had the same issue with RN 0.70.1, and I fixed it moving the podspec file in the module root (outside ios folder). Once moved there, just modify the path to the package:

[code]

Could anyone place this little fix in the main repo?

[2022-09-21 14:14] danimarin commented on #233
Well... now pod gets installed, but the error is similar:

[code]

[2022-09-22 10:12] danimarin commented on #233
I can't make it work in iOS, although the Pod is now installed. I have tried different approuches, but no success...

Nobody has test this module in RN >= 0.69?

[2022-09-22 11:11] owais-star commented on #233
@danimarin i had also applied multiple approaches but was only able to run it on reactnative 0.68.1 or below, don't know whats the issue but on 0.68.1 and below it works completely fine.

[2022-09-26 10:14] danimarin commented on #183
I have this issue when upgrading from 0.68.x to 0.69.x

[2022-10-11 19:33] jkeilson83 commented on #222
Hi, was this one every addressed?

[2022-10-17 08:46] dinhhien2006 commented on #212
I faced the same problem.

[2022-10-28 15:42] mukeshInf commented on #183
[Info] 10-28 21:10:00.630 20471 29463 E ReactNativeJS: Invariant Violation: requireNativeComponent: "RNJWPlayerView" was not found in the UIManager.
10-28 21:10:00.630 20471 29463 E ReactNativeJS:
10-28 21:10:00.630 20471 29463 E ReactNativeJS: This error is located at:
10-28 21:10:00.630 20471 29463 E ReactNativeJS:     in RNJWPlayerView (at react-native-jw-media-player/index.js:448)
10-28 21:10:

[2022-10-28 23:18] taschik commented on #233
@archcorsair I applied the patch as you described and the pod file is getting installed. However, I'm still seeing

[code]

Is there perhaps an additional step that you did?

**Version info**
[code]

[2022-10-28 23:20] archcorsair commented on #233
@taschik did you move the podspec file up one directory?

[2022-10-28 23:21] taschik commented on #233
@archcorsair Yes I did as per your patch. It's in the root folder of the `react-native-jw-media-player` folder under `node_modules`

[2022-10-28 23:28] archcorsair commented on #233
@taschik At this point it might be a caching issue. Can you clear metro cache and try again?

[2022-10-31 20:49] kundarmah opened #240 "captionsStyle not working"
Version: 0.2.26

Here is my current config

`
styling: {
        captionsStyle: {
          font: {
            size: 40,
          },
          backgroundColor: 'red',
          highlightColor: 'red',
          edgeStyle: 'raised',
        },
      },
`
Debugged Xcode is passing the values to the setStyling builder

`        id capStyle = styling[@"captionsStyle"];
        if (capStyle != nil &&

[2022-11-01 17:10] taschik commented on #233
@94jesus I haven't had a chance to continue working on it. Will keep you posted when I get to it again.

[2022-11-06 01:07] tauqeer13 commented on #164
This issue is still there with the latest version of 0.2.26. Can you please fix that?

[2022-11-07 15:06] jacksonsmith commented on #233
Same problem here 🥲

[2022-11-08 07:25] safwanchundakkadan opened #241 "Picture in picture not working"
The "picture in picture" is not working in ios

code--
<Player
              ref={playerRef}
              style={{flex: 1}}
              config={{
                pipEnabled: true,
                autostart: true,
                playlist: [
                  {
                    startTime: starttime,
                    file: itemurl,
                    image: image,
                  },

[2022-11-08 21:02] jacksonsmith commented on #233
I fixed with @archcorsair solution, thanks a lot.

I saw the @chriswindings suggested a PR, but looks like we can't move forward with it.

Is there something that we could do to help with this  ?

[2022-11-09 13:22] ddolheguy commented on #233
As per @archcorsair comments above which helped hugely, I've created a PR which fixes this issue for ReactNative 0.68.3+. https://github.com/chaimPaneth/react-native-jw-media-player/pull/242

[2022-11-09 21:17] chaimPaneth commented on #233
Merged the PR in version 0.2.27

[2022-11-09 21:17] #233 closed

[2022-11-11 10:30] mukeshInf opened #244 "How to disable the Android FLAG_KEEP_SCREEN_ON from props"
private void updateWakeLock(boolean enable) {
        if (mWindow != null) {
            if (enable && !isInBackground) {
                mWindow.addFlags(WindowManager.LayoutParams.FLAG_KEEP_SCREEN_ON);
            } else {
                mWindow.clearFlags(WindowManager.LayoutParams.FLAG_KEEP_SCREEN_ON);
            }
        }
    }

[2022-11-11 12:39] jacksonsmith commented on #233
Thanks @chaimPaneth and @ddolheguy and everyone here =)

[2022-11-11 14:32] jacksonsmith opened #245 "[Doubt] [Improvement] Handle Error"
Platform: iOS
JwPlayerKit Version: 4.6.2
react-native-jw-media-player version: 2.2.7

Hello Everyone,

Was that way to handle error updated ?

on doc, we have this examle `onPlayerError={event => this.onPlayerError(event)}`

but I only could handle with that:

`onPlayerError={event => this.onPlayerError(event.nativeEvent.error)}`
<img width="528" alt="image" src="https://user-images.githubusercont

[2022-11-14 19:35] jacksonsmith commented on #162
Same here.

Someone could identify the root cause ?

[2022-11-18 07:33] ddolheguy commented on #183
This can be closed as fixed in the latest `0.2.27` update

[2022-11-20 11:54] chaimPaneth commented on #164
Merged on develop will be released on next version.

[2022-11-20 11:55] chaimPaneth commented on #238
Hi @safwanchundakkadan

JW just added the capabilities to hide the fullscreen button it will be added in the coming versions

[2022-11-25 07:44] sailam86 opened #248 "[iOS] How to play signature appended mp4 url in jw player"